### Page is divided as follows:
### 1. [Preprocessing](#I.-PREPROCESSING)
### 2. [Fuzzy Matching](#II.-FUZZY-MATCHING)

### Imports / Load Data

In [1]:
import pandas as pd 
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from collections import Counter
# from tqdm.notebook import trange, tqdm
from tqdm.notebook import tqdm_notebook
import re

In [2]:
df = pd.read_csv("00_02_01_more_disambiguation_requied.csv", names=['raw_name'], encoding='utf-8')
df.shape

(5470, 1)

In [3]:
pd.set_option('display.max_colwidth', -1)
df

              raw_name
0     a chris heath
1     aaron adalja
2     aaron bernstein
3     aaron c davis
4     aaron carroll
...             ...
5465  zuo feng zhang
5466  zweli mkhize
5467  ángela hernández
5468  —
5469  —vicky mckeever

[5470 rows x 1 columns]

# I. PREPROCESSING
---------

## 1. Special characters


Need to address special characters before fuzzy matching.

#### a) Fix rows with "—" before addressing other special characters.

In [4]:
df[df.raw_name.str.contains('—', regex=False)]

                      raw_name
1784  gordon —
2716  karen c carroll—director
5468  —
5469  —vicky mckeever

In [5]:
df.at[1784, 'raw_name'] = 'gordon'
df.at[2716, 'raw_name'] = 'karen c carroll'
df.drop(5468, inplace=True)
df.at[5469, 'raw_name'] = 'vicky mckeever'

In [6]:
print(df.shape)
df.loc[[1784, 2716, 5469]]

(5469, 1)

             raw_name
1784  gordon
2716  karen c carroll
5469  vicky mckeever

#### b) Get names with any non-english alphabet characters

In [7]:
ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'

In [8]:
idx_specialchars = []
for idx, name in df['raw_name'].iteritems():
    for char in name:
        if char != ' ':
            if char not in ascii_lowercase:
                print(char)
                idx_specialchars.append(idx)
                break

ñ
é
é
ö
í
á
ó
í
ñ
í
ó
ù
ö
é
ç
ó
ú
ö
é
é
é
é
é
é
é
á
é
ô
á
í
é
í
ó
ó
ö
é
ñ
ü
í
é
á
ü
é
é
á
á
ł
í
ç
ø
ï
6
é
ö
á
á
é
á
é
ü
á
á

In [9]:
pd.set_option('display.max_rows', 100)
df.loc[idx_specialchars]

                          raw_name
111   aldo muñoz armenta
143   alexander kekulé
327   andrés manuel lópez obrador
797   cecilia söderberg nauclér
798   cecília müller
997   colm o moráin
1091  daniel lópez regalado
1480  emílio ribas
1487  eric cioe peña
1580  fernando rodríguez artalejo
1581  fernando simón
1753  giorgio palù
1830  gökçe soydemir
1896  helen aguirre ferré
2201  jean françois delfraissy
2282  jennifer m chacón
2348  jesús silva herzog
2385  joacim rocklöv
2646  josé a tapia
2647  josé cássio de moraes
2648  josé félix oletta
2649  josé holguín veras
2650  josé luis alomía zegarra
2651  josé manuel vera
2652  josé álvaro moisés
2659  juan jorge gonzález armengol
2697  jérôme salomon
2698  jônatas abrahão
2947  kári stefánsson
2992  laura martínez
3098  lindsay pérez huber
3174  luis díaz izquierdo
3185  lópez obrador
3186  lópez regalado
3197  magnus fiskesjö
3199  magnus gisslén
3272  maria peña
3379  martin stürmer
3460  maurício santoro
3700  muriel médard
3835  nicolás maduro
3874  nükhet varlik
3899  oscar vallés
4149  rafael félix espinoza
4434  rogelio sáenz
4565  sandra r hernández
4652  sean asiqłuq topkok
4667  segundo rodríguez
4750  sofia mendonça
4938  sune lehmann jørgensen
5029  thaïs aliabadi
5040  thomas 6 25
5060  thomas lindén
5148  tommy möller
5152  tomás aragón
5156  tony cárdenas
5187  uché blackstock
5203  vanessa fonseca chávez
5370  xavier jiménez fàbregas
5376  xiaobo lü
5461  zoltán kiss
5467  ángela hernández

In [10]:
# replace special characters with regular characters
# https://stackoverflow.com/questions/50253753/how-to-replace-accents-in-a-column-of-a-pandas-dataframe
df.raw_name.loc[idx_specialchars] = df.raw_name.loc[idx_specialchars].str.normalize('NFKD')\
       .str.encode('ascii', errors='ignore')\
       .str.decode('utf-8')

In [11]:
df.loc[idx_specialchars]

                          raw_name
111   aldo munoz armenta
143   alexander kekule
327   andres manuel lopez obrador
797   cecilia soderberg naucler
798   cecilia muller
997   colm o morain
1091  daniel lopez regalado
1480  emilio ribas
1487  eric cioe pena
1580  fernando rodriguez artalejo
1581  fernando simon
1753  giorgio palu
1830  gokce soydemir
1896  helen aguirre ferre
2201  jean francois delfraissy
2282  jennifer m chacon
2348  jesus silva herzog
2385  joacim rocklov
2646  jose a tapia
2647  jose cassio de moraes
2648  jose felix oletta
2649  jose holguin veras
2650  jose luis alomia zegarra
2651  jose manuel vera
2652  jose alvaro moises
2659  juan jorge gonzalez armengol
2697  jerome salomon
2698  jonatas abrahao
2947  kari stefansson
2992  laura martinez
3098  lindsay perez huber
3174  luis diaz izquierdo
3185  lopez obrador
3186  lopez regalado
3197  magnus fiskesjo
3199  magnus gisslen
3272  maria pena
3379  martin sturmer
3460  mauricio santoro
3700  muriel medard
3835  nicolas maduro
3874  nukhet varlik
3899  oscar valles
4149  rafael felix espinoza
4434  rogelio saenz
4565  sandra r hernandez
4652  sean asiquq topkok
4667  segundo rodriguez
4750  sofia mendonca
4938  sune lehmann jrgensen
5029  thais aliabadi
5040  thomas 6 25
5060  thomas linden
5148  tommy moller
5152  tomas aragon
5156  tony cardenas
5187  uche blackstock
5203  vanessa fonseca chavez
5370  xavier jimenez fabregas
5376  xiaobo lu
5461  zoltan kiss
5467  angela hernandez

In [12]:
# 5040	thomas 6 25
df.at[5040, 'raw_name']

'thomas 6 25'

In [13]:
df.at[5040, 'raw_name'] = 'thomas'
df.at[5040, 'raw_name']

'thomas'

## 2. Some More General Processing

### a) How many words in each name?

In [14]:
df['num_words'] = df['raw_name'].apply(lambda x: len(x.split()))
df.num_words.value_counts()

2    4469
3    626
1    321
4    46
6    3
5    3
7    1
Name: num_words, dtype: int64

In [15]:
df[df.num_words == 7]

                                          raw_name  num_words
3170  lucy jones center for science and seismology  7

In [16]:
df[df.num_words == 6]

                                            raw_name  num_words
2297  jennifer vines multnomah county health officer  6
4483  ross mcdonald the new york times                6
4641  scott pelley fact checks mike bloomberg         6

In [17]:
df[df.num_words == 5]

                               raw_name  num_words
1166  david geffen school of medicine    5
1525  ernest n morial convention center  5
4465  ronald reagan ucla medical center  5

In [18]:
df[df.num_words == 4]

                                raw_name  num_words
141   alexander huang chieh cheng         4
162   alfonso xi el cid                   4
248   ana maria henao restrepo            4
249   ana silvia gonzalez reiche          4
275   andres manuel lopez obrador         4
327   andres manuel lopez obrador         4
677   brice de le vingne                  4
726   candy gunther brown johnny          4
752   carol chiung hui peng               4
832   charles j ogletree jr               4
841   charles s bullock iii               4
1012  cousin hisham el khider             4
1185  david hume kennerlycourtesy gerald  4
1555  f brobson lutz jr                   4
1690  geert de clercq paris               4
1832  h keipp b talbot                    4
2047  jackson browne jackson browne       4
2122  jan emmanuel de neve                4
2395  joaquin morante cbs news            4
2568  jonathan t fluharty jaidee          4
2647  jose cassio de moraes               4
2650  jose luis alomia zegarra            4
2659  juan jorge gonzalez armengol        4
2818  kellyanne conway bashes biden       4
2839  kenneth g dau schmidt               4
2867  kevin van den wymelenberg           4
3106  lionel p robert jr                  4
3269  maria da gloria teixeira            4
3374  martin luther king jr               4
3392  mary anastasia o grady              4
3684  ms von der leyen                    4
3735  naomi whitehead ellis ford          4
3904  owen tsang tak yin                  4
3941  patricia n whitley williams         4
4098  ping an good doctor                 4
4208  ray of grady hospital               4
4365  robert j kim farley                 4
4473  roselle chen new york               4
4559  sander van der linden               4
4614  saul coronado de leon               4
4691  sharon a mcgrath morrow             4
4883  steven a cohen military             4
4909  steven van de vijver                4
5061  thomas m file jr                    4
5074  thomas w eppes jr                   4
5434  zaheer shah cbs news                4

### b) Lets address some of the cases above:


#### 1. Drop names with 5 or 7 words (names of medical centers/institutions):

In [19]:
df.drop(df[df.num_words == 7].index, inplace=True)
df.drop(df[df.num_words == 5].index, inplace=True)

In [20]:
print(df[df.num_words == 5])
print(df[df.num_words == 7])

Empty DataFrame
Columns: [raw_name, num_words]
Index: []
Empty DataFrame
Columns: [raw_name, num_words]
Index: []

#### 2. fixing names with 6 words

In [21]:
df.at[2297, 'raw_name']

'jennifer vines multnomah county health officer'

In [22]:
df.at[2297, 'raw_name'] = 'jennifer vines'
df.at[2297, 'raw_name']

'jennifer vines'

In [23]:
df.at[4483, 'raw_name']

'ross mcdonald the new york times'

In [24]:
df.at[4483, 'raw_name'] = 'ross mcdonald'
df.at[4483, 'raw_name']

'ross mcdonald'

In [25]:
df.at[4641, 'raw_name']

'scott pelley fact checks mike bloomberg'

In [26]:
df.at[4641, 'raw_name'] = 'scott pelley'
df.at[4641, 'raw_name']
# df.drop(4641, inplace=True)

'scott pelley'

In [27]:
df[df.num_words == 6]

            raw_name  num_words
2297  jennifer vines  6
4483  ross mcdonald   6
4641  scott pelley    6

#### 3. fixing names with 4 words

In [28]:
# https://www.bbc.com/news/uk-england-london-52064450
df.at[1012, 'raw_name']

'cousin hisham el khider'

In [29]:
df.at[1012, 'raw_name'] = 'hisham el khider'
df.at[1012, 'raw_name']

'hisham el khider'

In [30]:
# 1185 david hume kennerlycourtesy gerald
# referring to library - https://www.seattletimes.com/nation-world/the-last-time-the-government-sought-a-warp-speed-vaccine-it-was-a-fiasco/
print(df.at[1185, 'raw_name'])
df.drop(1185, inplace=True)

david hume kennerlycourtesy gerald

In [31]:
# 1690	geert de clercq paris
df.at[1690, 'raw_name']

'geert de clercq paris'

In [32]:
df.at[1690, 'raw_name'] = 'geert de clercq'
df.at[1690, 'raw_name']

'geert de clercq'

In [33]:
df[df['raw_name'].str.contains(' cbs news')]

                      raw_name  num_words
2395  joaquin morante cbs news  4
5434  zaheer shah cbs news      4

In [34]:
df['raw_name'] = df['raw_name'].str.replace(' cbs news', '', regex=False)

In [35]:
print(df[df['raw_name'].str.contains(' cbs news')])
print(df.at[2395, 'raw_name'])
print(df.at[5434, 'raw_name'])

Empty DataFrame
Columns: [raw_name, num_words]
Index: []
joaquin morante
zaheer shah

In [36]:
# 2818	kellyanne conway bashes biden
df.at[2818, 'raw_name']

'kellyanne conway bashes biden'

In [37]:
df.at[2818, 'raw_name'] = 'kellyanne conway'
df.at[2818, 'raw_name']

'kellyanne conway'

In [38]:
# 3374	martin luther king jr
print(df.at[3374, 'raw_name'])
df.drop(3374, inplace=True)

martin luther king jr

In [39]:
# 3684	ms von der leyen
df.at[3684, 'raw_name']

'ms von der leyen'

In [40]:
df.at[3684, 'raw_name'] = 'von der leyen'
df.at[3684, 'raw_name']

'von der leyen'

In [41]:
# 4098	ping an good doctor
# Ping An Good Doctor (01833.HK) is the world leading one-stop healthcare ecosystem platform in China. 
print(df.at[4098, 'raw_name'])
df.drop(4098, inplace=True)

ping an good doctor

In [42]:
# 4208	ray of grady hospital
# likely referring to Susan Ray - 'Dr. Ray of Grady Hospital... ' (link below)
# https://www.nytimes.com/2020/03/09/health/coronavirus-n95-face-masks.html
df[df['raw_name'].str.contains('ray')]

                   raw_name  num_words
211   amanda spray           2
456   arvind narayanan       2
892   chris murray           2
942   christopher murray     2
1293  dena grayson           2
1792  gray                   1
1810  gregory c gray         3
1812  gregory gray           2
2085  james grayson          2
2663  judy murray            2
3701  murray                 1
3736  narayana kocherlakota  2
4180  rami zurayk            2
4208  ray of grady hospital  4
4441  roger ray              2
4761  sonya babu narayan     3
4824  stephen guy bray       3

In [43]:
df.at[4208, 'raw_name']

'ray of grady hospital'

In [44]:
df.at[4208, 'raw_name'] = 'susan ray'
df.at[4208, 'raw_name']

'susan ray'

In [45]:
# 4473	roselle chen new york
df.at[4473, 'raw_name']

'roselle chen new york'

In [46]:
df.at[4473, 'raw_name'] = 'roselle chen'
df.at[4473, 'raw_name']

'roselle chen'

In [47]:
# https://www.google.com/search?client=safari&rls=en&q=steven+a+cohen+military&ie=UTF-8&oe=UTF-8
print(df.at[4883, 'raw_name'])
df.drop(4883, inplace=True)

steven a cohen military

In [48]:
# 4221 - redros
print(df.at[4221, 'raw_name'])
df.at[4221, 'raw_name'] = 'tedros adhanom ghebreyesus'
print(df.at[4221, 'raw_name'])

redros adhanom ghebreyesus
tedros adhanom ghebreyesus

### c) Drop duplicate names

In [49]:
df[df.duplicated(['raw_name'])]

                         raw_name  num_words
327   andres manuel lopez obrador  4
1487  eric cioe pena               3
2201  jean francois delfraissy     3
2297  jennifer vines               6
2348  jesus silva herzog           3
2395  joaquin morante              4
2818  kellyanne conway             4
3174  luis diaz izquierdo          3
3199  magnus gisslen               2
4750  sofia mendonca               2
5014  tedros adhanom ghebreyesus   3
5245  von der leyen                3
5434  zaheer shah                  4
5467  angela hernandez             2

In [50]:
df.drop_duplicates(subset='raw_name', inplace=True)
df.shape

(5447, 2)

In [51]:
# df.reset_index(drop=True, inplace=True)
df.reset_index(inplace=True)
df.rename(columns={'index':'orig_index'}, inplace=True)
df

      orig_index         raw_name  num_words
0     0           a chris heath    3
1     1           aaron adalja     2
2     2           aaron bernstein  2
3     3           aaron c davis    3
4     4           aaron carroll    2
...  ..                     ...   ..
5442  5463        zsolt katona     2
5443  5464        zubin damania    2
5444  5465        zuo feng zhang   3
5445  5466        zweli mkhize     2
5446  5469        vicky mckeever   2

[5447 rows x 3 columns]

In [52]:
df.to_csv('disambiguation_preprocessed.csv', index=False)

# II. FUZZY MATCHING
---------

#### Notes from Syed - 
1. We only keep the names that has multiple match against them
In this way around 5000 candidates can go down to possibly ~1000 candidates.
2. Against each name we have three columns, e.g.
raw_name, all_candidates_with_score, possible_candidate
tedros, "(tedros,100), ('tedros adhanom ghebreyesus',90), ('tedros ghebreyesus',90), ('tedros ahanom ghebreyesus',90),('tidres',67)", tedros adhanom ghebreyesus
The `possible_candidate` being the one with highest score. If more than one candidate has the highest score, break the tie by keeping the longest string.
3. We keep the similar names together in nearby rows so that when we divide the file between us for hand checking, we get the similar names in a single sight.

#### Fuzzy Matching Pseudocode Notes
1. Get list to compare to fuzzy matches: get all names that matches by first letter of first/middle/last name etc (excluding self)
    * this is to reduce the number of comparisons.
2. do fuzzy match w/ generated list to get top-20 hits: 
3. Accepatance criteria:
    * get matches above threshold 90 (this is pretty reliable, anything under 90 is almost never a good match).
        * if no matches > 90 score, return self.
        * if 1 match > 90, return match if longer than self.
        * if multiple matches > 90: (bit complicated)
            * get the top matches above 90 (ex, 95,95)
                * if only 1 highest score, return match if longer than self.
                * if multiple high scores (ex, 90, 90, 90):
                    * return longest match if longer than self.
                    * For single names: * try to return possible matches that have the single name as a word in match as opposed to substring.

### 1. Get Fuzzy Matches

In [53]:
# alphabet_index = {}
# for i in ascii_lowercase:
#     alphabet_index[str(i)] = []
#     for j in ascii_lowercase:
#         alphabet_index[str(i + j)] = []
        
# for idx, name in df['raw_name'].iteritems():
#     for word in name.split():
#         alphabet_index[word[0:2]].append(idx)


name_index = {}
for i in ascii_lowercase:
    name_index[str(i)] = []
#     for j in ascii_lowercase:
#         name_index[str(i + j)] = []
        
for idx, name in df['raw_name'].iteritems():
    for word in name.split():
        name_index[word[0]].append(name)

In [54]:
def get_fuzzy_matches(name, match_indexer):
    # get first two letters of each word in name
    # letters_to_match = [s[0:2] for s in name.split()]
    letters_to_match = [s[0] for s in name.split()]

    
    # get all names that match the letter groups
    get_names_to_match = []
    for i in letters_to_match:
        get_names_to_match.extend(match_indexer[i])
        
    # remove duplicate names
    names_list = list(set(get_names_to_match))
    # remove self
    choices = [i for i in names_list if i != name]
    matches = process.extract(name, choices, limit=20)
    return matches

In [55]:
tqdm_notebook.pandas()

In [56]:
df['top20_candidates_with_score'] = df['raw_name'].progress_apply(get_fuzzy_matches, match_indexer=name_index)

HBox(children=(FloatProgress(value=0.0, max=5447.0), HTML(value='')))

In [57]:
df

,orig_index,raw_name,num_words,top20_candidates_with_score
0,0,a chris heath,3,"[(sharon a mcgrath morrow, 86), (christ, 75), (charissa cheah, 74), (chris chen, 70), (head, 68), (chris craft, 67), (chris hayes, 67), (cara christ, 67), (chris sale, 66), (chris luke, 64), (chris whitty, 64), (chris dede, 64), (christopher zahn, 62), (chris kratochvil, 62), (jean christophe lagier, 62), (rachel thorn heathcock, 62), (ashish jha, 61), (heard garris, 61), (chris braden, 61), (andrea andrea crisanti, 60)]"
1,1,aaron adalja,2,"[(aaron pallas, 75), (aaron glatt, 70), (amesh a adalja, 69), (adam, 68), (azar, 68), (alvaro alban, 67), (aaron carroll, 64), (aaron c davis, 64), (abelardo avila, 62), (jason adler, 61), (diana adama, 61), (arun sanyal, 61), (aaron rupar, 61), (ali, 60), (ala, 60), (aaron naeger, 58), (aaron shakow, 58), (kamiar alaei, 58), (anthony almojera, 57), (aaron milstone, 56)]"
2,2,aaron bernstein,2,"[(ronald brownstein, 75), (john brownstein, 73), (anna bershteyn, 69), (azar, 68), (adam rubinstein, 67), (penny bornstein, 67), (penny borenstein, 65), (adam bernheim, 64), (alan lerner, 62), (alan berger, 62), (aaron milstone, 62), (burton bentley ii, 62), (abe, 60), (ari brown, 60), (ala, 60), (robert benjamin, 60), (austin, 60), (steven b abramson, 59), (aaron reeves, 59), (aaron naeger, 59)]"
3,3,aaron c davis,3,"[(davis, 90), (marybeth davis baggett, 86), (azar, 68), (brian davis, 67), (ron daniels, 67), (aaron adalja, 64), (david abramson, 64), (david asman, 64), (aaron pallas, 64), (aaron reeves, 64), (rob davidson, 64), (anissa davis, 64), (paul davis, 64), (ron desantis, 64), (david canon, 64), (aaron carroll, 62), (david archer, 61), (ali, 60), (ala, 60), (carson, 60)]"
4,4,aaron carroll,2,"[(karen c carroll, 79), (aaron pallas, 72), (carre, 72), (azar, 68), (robin carre, 67), (aaron rupar, 67), (aaron adalja, 64), (daron cowley, 64), (aaron naeger, 64), (aaron shakow, 64), (mario alparone, 64), (martin carballo, 64), (clare farrell, 62), (anthony cardillo, 62), (alan campbell, 62), (damian caraballo, 62), (aaron c davis, 62), (cao bin, 61), (alta charo, 61), (ala, 60)]"
...,...,...,...,...
5442,5463,zsolt katona,2,"[(peter katona, 67), (ali khan, 56), (joe kalt, 56), (kevan shokat, 55), (kathryn snow, 55), (karen, 54), (tal zaks, 53), (ruth karron, 52), (zoltan kiss, 52), (joel kaplan, 52), (rowland kao, 52), (kathryn weston, 51), (kaletra, 51), (soo kim, 51), (zhou tao, 50), (aris katzourakis, 50), (adam kamradt scott, 50), (kathryn stephenson, 50), (karol sikora, 50), (kathryn seawant, 49)]"
5443,5464,zubin damania,2,"[(yu dan, 60), (zhu, 60), (diana adama, 58), (brian davis, 58), (daniela trezzi, 56), (dana perino, 55), (daniel fein, 55), (dana garfin, 55), (zeinab badawi, 54), (zarir udwadia, 54), (o day, 54), (zhou min, 53), (daniel klein, 53), (david hui, 52), (lisa delamaine, 52), (anne zink, 52), (pia daniel, 52), (daniel mcquillen, 52), (david putrino, 51), (daniel sumner, 51)]"
5444,5465,zuo feng zhang,3,"[(jie feng, 86), (mi feng, 86), (zhong, 72), (ho fung hung, 69), (zeng guang, 67), (zhang dingyu, 66), (elaine shuo feng, 64), (zhang wenhong, 64), (fu meng khaw, 62), (zhu, 60), (ai fen, 60), (zhong nanshan, 59), (taisu zhang, 59), (zheng gangtie, 59), (jinfeng zhou, 59), (fengyong liu, 59), (zhang xinmin, 56), (zeng qun, 56), (xu zhangrun, 56), (kean feng lim, 56)]"
5445,5466,zweli mkhize,2,"[(shi zhengli, 58), (joel miller, 52), (moriel zelikowsky, 52), (philip zelikow, 51), (helena maier, 50), (munzer al khalil, 50), (carl minzner, 50), (mehdi veisi, 49), (muze hair, 48), (melissa michelson, 48), (shane paul mcghie, 48), (angela merkel, 48), (elon musk, 48), (howie mandel, 48), (i min lee, 48), (wendy mariner, 48), (william mckoy, 48), (dennis mileti, 48), (elizabeth mitchell, 47), (mehmet oz, 46)]"
5446,5469,vicky mckeever,2,"[(vici, 68), (mike, 68), (nick mark, 60), (mike lee, 56), (vicki hertzberg, 55), (martin mckee, 54), (mike huckabee, 52), (david veesler, 52), (vicki jackson, 52), (vicki stover hertzberg, 51), (allison mcgeer, 50), (marick masters, 50), (steve vladeck, 49), (danny meyer, 48), (michelle steik, 48), (nancy messonier, 48), (michele sorice, 48), (jolion mcgreevy, 48), (mark zuckerberg, 48), (michelle price, 48)]"

In [58]:
df.to_csv("disambiguation_fuzzymatched.csv", index=False)

### 2. Get Possible Name Matches

In [59]:
def contains_word(text, word):
    return bool(re.search(r'\b' + re.escape(word) + r'\b', text))

def get_possible_candidate(row):
#     print("", row['raw_name'])
    name = row['raw_name']
    number_words = row['num_words']
    
    # convert list of tuples into two lists - list[0] = names, list[1] = scores
    all_matches = list(map(list, zip(*row['top20_candidates_with_score'])))
    all_names = all_matches[0]
    all_scores = all_matches[1]
    
    # get index of matches above >= 90 (score)
    top_matches_idx = [idx for idx, element in enumerate(all_scores) if element >= 90]
    
    # if no matches >= 90: 
    if len(top_matches_idx) < 1: 
        return 'SELF'
    
    # if 1 match >= 90:
    elif len(top_matches_idx) == 1:
        if len(name) > len(all_names[top_matches_idx[0]]):
            return 'SELF'            
        else:
            return all_names[top_matches_idx[0]]
        
    # if multiple matches >= 90:
    elif len(top_matches_idx) > 1:
        
        max_val = max(all_scores) # max score
        top_scores_idx = [i for i, j in enumerate(all_scores) if j == max_val] # index of max scores
        top_names = [all_names[i] for i in top_scores_idx] # names matching max scores
        
        # if only 1 highest value
        if len(top_scores_idx) == 1: 
            if len(name) > len(top_names[0]):
                return 'SELF'            
            else:
                return top_names[0]
        # if only multiple highest value
        else:  
            if number_words == 1: # make it so that we ignore substring matches -> ai = ai fen, not dalai lama
                whole_world_checker = []
                for idx, possib_name in enumerate(top_names):
                    if contains_word(possib_name, name) == True:
                        whole_world_checker.append(idx)
                    
                if len(whole_world_checker) == 0:
                    return 'SELF'
                elif len(whole_world_checker) == 1:
                    return top_names[whole_world_checker[0]]
                else:
                    top_whole_word = [top_names[i] for i in whole_world_checker]
                    return max(top_whole_word, key = len)
            else: 
                if len(name) > len(max(top_names, key = len)):
                    return 'SELF'
                else:
                    return max(top_names, key = len)

In [61]:
df['possible_candidate'] = df.progress_apply(get_possible_candidate, axis=1)

HBox(children=(FloatProgress(value=0.0, max=5447.0), HTML(value='')))

In [62]:
# How many matches??
df[df['possible_candidate'] != 'SELF'].shape

(446, 5)

In [63]:
# Rows where new possible_candidate
df[df['possible_candidate'] != 'SELF'].head(50)

,orig_index,raw_name,num_words,top20_candidates_with_score,possible_candidate
14,14,abbott,1,"[(sabra m abbott, 90), (april abbott, 90), (greg abbott, 90), (abbott labs, 90), (andrea gambotto, 75), (lilian abbo, 72), (abe, 60), (bowale abimbola, 60), (alex scott, 50), (ann arbor, 50), (arabia mollette, 48), (asaf bitton, 47), (aaron glatt, 47), (ann bostrom, 47), (andrew rambaut, 45), (jenny abthorpe, 45), (atul malhotra, 45), (ai, 45), (jim acosta, 45), (andrew potter, 45)]",sabra m abbott
19,19,abdullah abdullah,2,"[(noor hisham abdullah, 95), (abdul el sayed, 61), (abe, 60), (ala, 60), (nadia abuelezam, 56), (adam douglas, 55), (rami abdulrahman, 55), (alfa saadu, 54), (sayed attaullah sayedzai, 54), (alan campbell, 53), (amadou alpha sall, 53), (abdul mabud chowdhury, 53), (adam blake, 52), (abelardo avila, 52), (aliyah cardoza, 52), (alfa sa, 51), (lilian abbo, 50), (danny avula, 50), (bruce a elleman, 49), (kathie allen, 48)]",noor hisham abdullah
20,20,abe,1,"[(abelardo avila, 90), (shinzo abe, 90), (isabelle amigues, 90), (rabi abeyasinghe, 86), (allison chamberlain, 60), (david a nace, 60), (jenny abthorpe, 60), (naji abumrad, 60), (adam bernheim, 60), (abigail carlson, 60), (alexander l greninger, 60), (sue anne bell, 60), (florence ader, 60), (henry albrecht, 60), (robert atmar, 60), (fawziya abikar, 60), (abhijit duggal, 60), (alex brandonap, 60), (jane ruth aceng, 60), (anna goldfarb, 60)]",shinzo abe
26,26,abraham,1,"[(jonathan abraham, 90), (abraham l newman, 90), (jonatas abrahao, 77), (adam, 68), (allison brashear, 64), (sabra m abbott, 64), (steven b abramson, 64), (marina abramovic, 64), (david clara amit, 64), (abraar karan, 64), (andrea graham, 64), (david abramson, 64), (mohamed ali ibrahim, 64), (sarah aitken, 64), (jonathan abramowitz, 64), (josh archambault, 64), (abe, 60), (amy, 60), (azra ghani, 59), (adhanom, 57)]",jonathan abraham
28,28,adam,1,"[(adam bernheim, 90), (adam levitin, 90), (diana adama, 90), (adam j levitin, 90), (adam wolanski, 90), (adam blake, 90), (adam kucharski, 90), (adam schiff, 90), (adam marshall, 90), (adam rubinstein, 90), (jerome adams, 90), (beverley adams groom, 90), (adam jarrett, 90), (adam douglas, 90), (adam collins, 90), (adam schefter, 90), (adam rosh, 90), (adams dudley, 90), (adam finn, 90), (jerome m adams, 90)]",adam rubinstein
40,40,adam levitin,2,"[(adam j levitin, 95), (adam, 90), (adam kamradt scott, 86), (daniel levitin, 77), (levitan, 77), (levin, 72), (amler, 72), (adams, 72), (david levin, 70), (david levine, 67), (adam rubinstein, 67), (hagai levine, 67), (adam collins, 67), (adam finn, 67), (andrew levin, 67), (sam lessin, 64), (adam blake, 64), (mark levin, 64), (adam green, 64), (marissa levine, 62)]",adam j levitin
49,49,adams,1,"[(jerome adams, 90), (beverley adams groom, 90), (adams dudley, 90), (jerome m adams, 90), (adam, 89), (adarsh pratap singh, 72), (adam bernheim, 72), (adam levitin, 72), (diana adama, 72), (adam j levitin, 72), (adam wolanski, 72), (adam blake, 72), (adam kucharski, 72), (adam schiff, 72), (adam marshall, 72), (adam rubinstein, 72), (adam jarrett, 72), (adam douglas, 72), (amiyatosh purnanandam, 72), (adam collins, 72)]",beverley adams groom
54,54,adhanom,1,"[(tedros adhanom ghebreyesus, 90), (tedros adhanom ghebreyesu, 90), (tedros adhanom, 90), (adhanom ghebreyesus, 90), (tedros ahanom ghebreyesus, 77), (adam, 73), (adams, 67), (adnan munkarah, 64), (adriano decarli, 64), (adrian, 62), (abraham, 57), (andrew chan, 56), (jawad al bidhani, 56), (ali khan, 53), (ahmed rahman, 53), (adam bernheim, 51), (kranthi achanta, 51), (adam levitin, 51), (aruna ravichandran, 51), (annika sridharan, 51)]",tedros adhanom ghebreyesus
55,55,adhanom ghebreyesus,2,"[(tedros adhanom ghebreyesus, 95), (adhanom, 90), (ghebreyesus, 90), (tedros adhanom ghebreyesu, 82), (tedros ahanom ghebreyesus, 82), (tedros ghebreyesus, 76), (adam, 68), (tedros adhanom, 64), (adam green, 62), (abe, 60), (adrian, 60), (ann wagner, 54), (jane greer, 54), (adams, 54), (mark green, 54), (aaron reeves, 52), (jordan asher, 52), (abraham, 51), (adrian bangerter, 51), (al gore, 51)]",tedros adhanom ghebreyesus
60,60,adrian,1,"[(adrian bangerter, 90), (adrian hyzler, 90), (adriano decarli, 90), (aruna ravichandran, 75), (dorian alexander, 75), (armand dorian, 75), (mihran aroian, 75), (diana adama, 71), (aralen, 67), (andrei lankov, 63), (adhanom, 62), (addison, 62), (andrea crisanti, 60), (mary anastasia o grady, 60), (anita kurian, 60), (alfredo garzino demo, 60), (arvind kumar, 60), (adam, 60), (adnan munkarah, 60), (katrina armstrong, 60)]",adrian bangerter
73,73,ai,1,"[(aileen marty, 90), (aimee moulin, 90), (anne mcclain, 90), (virginia a caine, 90), (haig aintablian, 90), (sarah aitken, 90), (ainsley earhardt, 90), (aimee sisson, 90), (mahmoud al rifai, 90), (alex tsai, 90), (ai fen, 90), (arjun appadurai, 90), (kylie ainslie, 90), (alain gauthier, 90), (thais aliabadi, 90), (allison aiello, 86), (ali, 80), (marc alain widdowson, 60), (alexander halavais, 60), (anton sebastianpillai, 60)]",ai fen
92,92,alan deardorff,2,"[(alan v deardorff, 95), (ala, 90), (alan wu, 86), (alexander, 70), (alan erera, 67), (dorian alexander, 64), (alan lerner, 64), (alan berger, 64), (alan blinder, 62), (alan dershowitz, 62), (ann arbor, 61), (don, 60), (ali, 60), (aurore, 60), (alexander morden, 60), (andrew lakoff, 59), (debra a goff, 59), (alvaro alban, 59), (alexander edwards, 58), (alan rowan, 58)]",alan v deardorff
103,103,albert chan,2,"[(albert chang, 96), (michelle a albert, 86), (chant, 80), (albert ko, 76), (alberto dicochea, 74), (amler, 72), (robert cohen, 70), (alex, 68), (gary cohan, 67), (kabrina chang, 67), (carri chan, 67), (walter cho, 67), (art caplan, 67), (albert rizzo, 67), (alberto bisin, 67), (albert williams, 67), (alberto montaner, 67), (alta charo, 67), (jason oliver chang, 66), (daniel alpert, 64)]",albert chang
117,117,alex,1,"[(alexander l greninger, 90), (alex brandonap, 90), (alexandre bayen, 90), (dorian alexander, 90), (alexia harrist, 90), (alexandre white, 90), (alexandra cirone, 90), (alex horton, 90), (alex scott, 90), (alexander kekule, 90), (alex greninger, 90), (alex ward, 90), (alexis mcgill johnson, 90), (alexei navalny, 90), (alex marlow, 90), (alexander halavais, 90), (nicole alexander scott, 90), (alexa mieses, 90), (alexey avdonin, 90), (alexander isakov, 90)]",alex brandonap
121,121,alex brandon,2,"[(alex brandonap, 92), (alex, 90), (alex hsu, 86), (brandon rottinghaus, 86), (alex horton, 70), (brandon brown, 70), (alexey avdonin, 69), (alex ward, 67), (alexander, 67), (zach branson, 67), (alexandra cirone, 64), (sylvie briand, 64), (al franken, 64), (alexander morden, 64), (alex greninger, 62), (danielle anderson, 62), (alex appolonia, 62), (alex tabarrock, 62), (dorian alexander, 61), (alex marlow, 61)]",alex brandonap
136,136,alexander,1,"[(alexander l greninger, 90), (dorian alexander, 90), (alexander kekule, 90), (alexander halavais, 90), (alex, 90), (nicole alexander scott, 90), (alexander isakov, 90), (karl alexander, 90), (alexander huang chieh cheng, 90), (alexander edwards, 90), (alexander billioux, 90), (preeya alexander, 90), (alexander scott, 90), (alexander morden, 90), (alexander field, 90), (alexander lukashenko, 90), (peter alexander, 90), (alexandre bayen, 80), (alexandre white, 80), (alexandra cirone, 80)]",alexander huang chieh cheng
147,147,alexander scott,2,"[(nicole alexander scott, 95), (alex, 90), (alexander, 90), (rick scott, 86), (hal scott, 86), (scott rein, 86), (alex scott, 86), (scott nass, 86), (alexander huang chieh cheng, 86), (scott pace, 86), (alexander isakov, 77), (sanders, 77), (karl alexander, 74), (scott allen, 73), (alexandra sacks, 73), (scott anderson, 72), (alexander l greninger, 71), (dorian alexander, 71), (preeya alexander, 71), (alexander field, 71)]",nicole alexander scott
161,161,alfonso xi,2,"[(alfonso xi el cid, 90), (alfonso jimenez, 86), (alonso aguirre, 67), (ali, 60), (ala, 60), (alina alonso, 55), (alison sinclair, 54), (xiao xiao, 53), (ali nouri, 53), (william a jacobson, 51), (joseph alsousou, 51), (liz allen, 50), (alfred kim, 50), (allison aiello, 50), (john xxiii, 50), (alan jones, 50), (afshon ostovar, 50), (tim allen, 50), (luo xianke, 50), (alison pittard, 50)]",alfonso xi el cid
163,163,alfred,1,"[(alfredo garzino demo, 90), (alfred kim, 90), (alfred m wu, 90), (al gore, 62), (al franken, 62), (henry albrecht, 60), (manny alvarez, 60), (jared a ellias, 60), (alex, 60), (linda alvarez, 60), (angela caliendo, 60), (andrew freedman, 60), (ali, 60), (roger alvarez, 60), (angel almendros, 60), (ala, 60), (ashraf al qedra, 60), (valerie arkoosh, 60), (r michael alvarez, 57), (fred armisen, 57)]",alfred m wu
167,167,ali,1,"[(alison sinclair, 90), (munzer al khalil, 90), (amir ali, 90), (alison whelan, 90), (ali khan, 90), (harris ali, 90), (andre kalil, 90), (angela caliendo, 90), (aline holmes, 90), (ali moktad, 90), (mark ali, 90), (mohamed ali ibrahim, 90), (ambrose talisuna, 90), (ali nouri, 90), (ambrose otau talisuna, 90), (alice miranda ollstein, 90), (anjali talwalkar, 90), (alison tothy, 90), (alison pittard, 90), (mrs ali, 90)]",mohamed ali ibrahim
170,170,ali mokdad,2,"[(ali, 90), (ali moktad, 90), (ayatollah ali khamenei, 86), (mohamed ali ibrahim, 86), (ali khan, 67), (mark ali, 64), (nathalie macdermott, 63), (syra madad, 60), (allin khan, 60), (ala, 60), (al holland, 60), (paul mckay, 60), (atiya mosam, 57), (halik malik, 57), (mrs ali, 57), (ki moran, 56), (karla mckanders, 56), (naji abumrad, 55), (allon mordel, 55), (salaj masand, 55)]",ali moktad
171,171,ali moktad,2,"[(ali, 90), (ali mokdad, 90), (ayatollah ali khamenei, 86), (mohamed ali ibrahim, 86), (ali khan, 67), (mark ali, 64), (nathalie macdermott, 63), (atul malhotra, 61), (allin khan, 60), (ala, 60), (al holland, 60), (paul mckay, 60), (alison pittard, 58), (malliotakis, 57), (atiya mosam, 57), (halik malik, 57), (tim montana, 57), (mrs ali, 57), (ki moran, 56), (karla mckanders, 56)]",ali mokdad
190,190,allin khan,2,"[(khan, 90), (rosena allin khan, 90), (ali khan, 89), (amir khan, 74), (allison k hoffman, 74), (ayatollah ali khamenei, 72), (alison whelan, 70), (sadiq khan, 70), (imran khan, 70), (alison holman, 70), (ali hassan, 70), (kang, 68), (allen cheng, 67), (alan herman, 67), (allan lichtman, 67), (kamran khan, 67), (shabana khan, 64), (kent collin, 64), (anita allen, 64), (alina alonso, 64)]",rosena allin khan
215,215,ambrose talisuna,2,"[(ambrose otau talisuna, 95), (ali, 90), (tao lina, 68), (mrs ali, 64), (jose a tapia, 61), (rosena allin khan, 61), (abe, 60), (travis, 60), (robert talisse, 60), (amy, 60), (ala, 60), (amir ali, 58), (taison bell, 56), (tali sharot, 56), (alberto bisin, 55), (gabriele tomasoni, 55), (harris ali, 54), (amler, 54), (marina abramovic, 53), (jared a ellias, 53)]",ambrose otau talisuna
218,218,ami jones,2,"[(jones, 90), (mailonline ami jones, 90), (j stephen jones, 86), (camara phyllis jones, 86), (megan jones bell, 86), (tom jones, 78), (ian jones, 78), (mark jones, 74), (alan jones, 74), (kate jones, 74), (amira roess, 70), (john, 68), (amy stone, 67), (lucy jones, 67), (joe amon, 67), (hilary jones, 67), (jolene, 66), (james cai, 64), (joe cunningham, 64), (angie bone, 63)]",mailonline ami jones
228,228,amler,1,"[(robert amler, 90), (sherlita amler, 90), (robert w amler, 90), (allison chamberlain, 72), (daniel alpert, 72), (adam levitin, 72), (michelle a albert, 72), (albert rizzo, 72), (alberto bisin, 72), (jason adler, 72), (african american, 72), (angela merkel, 72), (jeremy adler, 72), (albert williams, 72), (alberto montaner, 72), (albert chang, 72), (josh adler, 72), (tamer antakly, 72), (albert chan, 72), (alberto dicochea, 72)]",sherlita amler
229,229,amy,1,"[(amy dalton, 90), (amy plasencia, 90), (amy herold, 90), (amy stone, 90), (amy klobuchar, 90), (amy r sapkota, 90), (amy lessen, 90), (amy acton, 90), (amy castro baker, 90), (amy robach, 90), (amy morrison, 90), (amy mcgrath, 90), (amy goldstein, 90), (amy cohen, 90), (amy cho, 90), (amy mathers, 90), (amy compton phillips, 90), (amy action, 90), (allison chamberlain, 60), (william a jacobson, 60)]",amy compton phillips
231,231,amy acton,2,"[(amy action, 95), (amy, 90), (amy castro baker, 86), (amy compton phillips, 86), (amy dalton, 84), (amy stone, 78), (amy cohen, 78), (amy cho, 75), (andy atkeson, 67), (amy robach, 63), (amir yaron, 63), (william a jacobson, 60), (silvana agatone, 60), (alec watson, 60), (ayache, 60), (amiyatosh purnanandam, 60), (amy mcgrath, 60), (amy mathers, 60), (anthony, 59), (amir attaran, 57)]",amy action
258,258,anastasia vasilieva,2,"[(anastasia vasilyeva, 95), (anastasia miksyuk, 66), (mary anastasia o grady, 61), (ali, 60), (ala, 60), (natali aziz, 58), (amir ali, 56), (mark ali, 56), (antonia ho, 54), (adams, 54), (ava louise, 54), (anasse bari, 53), (nadia abuelezam, 53), (anita allen, 53), (oscar valles, 52), (ashwin vasan, 52), (anissa davis, 52), (sania ashraf, 52), (kamiar alaei, 52), (anita isaacs, 52)]",anastasia vasilyeva
259,259,anastasia vasilyeva,2,"[(anastasia vasilieva, 95), (anastasia miksyuk, 67), (mary anastasia o grady, 61), (ala, 60), (natali aziz, 58), (antonia ho, 54), (dan ariely, 54), (adams, 54), (anasse bari, 53), (nadia abuelezam, 53), (anita allen, 53), (oscar valles, 52), (ashwin vasan, 52), (anissa davis, 52), (sania ashraf, 52), (anita isaacs, 52), (ashley arn, 51), (sylvia owusu ansah, 51), (alfa sa, 51), (anat admati, 50)]",anastasia vasilieva
262,262,anderson,1,"[(roy anderson, 90), (gerard anderson, 90), (danielle anderson, 90), (christopher anderson, 90), (lisa anderson, 90), (anderson cooper, 90), (stephen anderson, 90), (margo anderson, 90), (scott anderson, 90), (bruce anderson, 90), (chris anderson, 90), (eric anderson, 90), (kristian andersen, 79), (andrew preston, 73), (jason adler, 70), (andy atkeson, 70), (nicole alexander scott, 68), (alexander isakov, 68), (anders tegnell, 68), (alexander scott, 68)]",christopher anderson
267,267,andrea crisanti,2,"[(andrea andrea crisanti, 95), (andrew crane, 74), (andrew chan, 69), (andrew chesnut, 69), (cara christ, 69), (andrea vena, 67), (kristian andersen, 66), (andrew hastie, 64), (andrea graham, 64), (andrew kipnis, 64), (andrew gibson, 64), (andrea hricko, 64), (andrew winton, 64), (andrew rambaut, 62), (andrew saul, 62), (andrew preston, 62), (andrew wehrman, 62), (andre kalil, 62), (andrew coggins, 62), (anderson, 61)]",andrea andrea crisanti
282,282,andrew coggins,2,"[(andrew coggins jr, 95), (andrew marr programme, 86), (andrew stanley pekosz, 86), (andrew kipnis, 74), (andrew gibson, 74), (andrew chan, 72), (andrew cuomo, 69), (andrew crane, 69), (andrew levin, 69), (andrew saul, 67), (andrew beam, 67), (andrew hughes, 67), (andrew pekosz, 67), (andrew norton, 67), (june andrew, 67), (andrew winton, 67), (andrew preston, 64), (andrew chesnut, 64), (andrew m cuomo, 64), (andrew weber, 64)]",andrew coggins jr
285,285,andrew cuomo,2,"[(andrew m cuomo, 95), (cuomo, 90), (andrew marr programme, 86), (andrew stanley pekosz, 86), (andrew norton, 72), (andrew noymer, 72), (andrew saul, 70), (andrew chan, 70), (andrew beam, 70), (andrew chesnut, 69), (andrew coggins, 69), (andrew rochford, 67), (andrew muhammad, 67), (gov cuomo, 67), (andrew tatem, 67), (june andrew, 67), (andrew montford, 67), (andrew clark, 67), (andrew mehle, 67), (andrew crane, 67)]",andrew m cuomo
313,313,andrew roberston,2,"[(andrew robertson, 94), (andrew preston, 87), (andrew norton, 83), (robertson, 80), (andrew gibson, 76), (charles robertson, 73), (andrew weber, 71), (andrew bates, 71), (andrew potter, 69), (andrew goethe, 69), (andrew noymer, 69), (andrew winton, 69), (nichola roberston, 68), (andrew rambaut, 67), (andrew saul, 67), (andrew chan, 67), (andrew stephen, 67), (anderson, 67), (june andrew, 67), (andrew beam, 67)]",andrew robertson
314,314,andrew robertson,2,"[(andrew roberston, 94), (robertson, 90), (andrew norton, 83), (andrew preston, 80), (charles robertson, 79), (andrew gibson, 76), (andrew weber, 71), (andrew bates, 71), (robertson davenport, 70), (andrew potter, 69), (andrew goethe, 69), (andrew noymer, 69), (andrew winton, 69), (andrew rambaut, 67), (andrew saul, 67), (andrew chan, 67), (anderson, 67), (june andrew, 67), (andrew beam, 67), (andrew chesnut, 67)]",andrew roberston
338,339,angela cornell,2,"[(angela b cornell, 95), (angela merkel, 74), (angela yeh, 71), (angela gardner, 71), (brad cornell, 70), (daniel crane, 69), (angela charlton, 69), (angela mills, 69), (angela rippon, 67), (angie bone, 67), (angela hernandez, 67), (angela rogers, 67), (angela hewlett, 64), (al gore, 64), (angela caliendo, 62), (andrea mitchell, 62), (alma moeller, 62), (gerardo chowell, 62), (thomas cornwell, 62), (andrew crane, 62)]",angela b cornell
358,359,anita kurian,2,"[(anita kurlan, 92), (sanjay kurani, 72), (anita allen, 70), (kurz, 68), (anita isaacs, 67), (kranthi achanta, 64), (annika sridharan, 64), (kriangsak atipornwanich, 64), (anita juvvadi, 64), (anna kraczyna, 64), (nadia kounang, 64), (aruna subramanian, 62), (karan girotra, 61), (janaki amin, 61), (carina king, 61), (adrian, 60), (jan pieter krahnen, 60), (ali khan, 60), (ali, 60), (andrea crisanti, 59)]",anita kurlan
359,360,anita kurlan,2,"[(anita kurian, 92), (sanjay kurani, 72), (anita allen, 70), (kurz, 68), (kranthi achanta, 64), (atul kulkarni, 64), (marynia kolak, 64), (anita juvvadi, 64), (anna kraczyna, 64), (pam karlan, 64), (nadia kounang, 64), (karan girotra, 61), (jan pieter krahnen, 60), (ali khan, 60), (ali, 60), (ala, 60), (katie kunselman, 59), (nirmal kumar, 58), (anita thomas, 58), (amir attaran, 58)]",anita kurian
383,384,anne rimoin,2,"[(anne w rimoin, 95), (anne marie gloster, 86), (liise anne pirofski, 86), (anne grete hestnes, 86), (anne marie slaughter, 86), (anne mcclain, 70), (anne zink, 70), (angela rippon, 67), (anne deprince, 67), (jan rivkin, 67), (anand menon, 64), (del rio, 64), (ann carlson, 64), (simon anthony, 64), (jane rooney, 64), (anderson, 63), (aimee moulin, 61), (anna hemming, 61), (robin patel, 61), (ron daniels, 61)]",anne w rimoin
394,395,anthony,1,"[(anthony fuaci, 90), (anthony fauc, 90), (anthony kreis, 90), (anthony kaveh, 90), (anthony cardillo, 90), (anthony fauci, 90), (anthony santella, 90), (anthony almojera, 90), (anthony fehr, 90), (simon anthony, 90), (anthony costello, 90), (anthony kennedy, 90), (anthnony fauci, 77), (antonio pensenti, 64), (anton sebastianpillai, 64), (michael d antonio, 64), (antonio fatas, 64), (anant bhan, 59), (antonia ho, 59), (amy acton, 59)]",anthony cardillo
398,399,anthony fauc,2,"[(anthony fauci, 96), (anthnony fauci, 92), (anthony, 90), (anthony fuaci, 88), (anthony fehr, 75), (anthony kaveh, 72), (anthony kreis, 70), (anthony cardillo, 70), (anthony santella, 70), (anthony almojera, 70), (simon anthony, 70), (anthony costello, 70), (anthony kennedy, 70), (antonio fatas, 64), (semansky fauci, 62), (danny avula, 61), (archon fung, 61), (frank atherton, 59), (yahoo finance, 56), (gao fu, 56)]",anthony fauci
399,400,anthony fauci,2,"[(anthony fauc, 96), (anthnony fauci, 96), (anthony fuaci, 92), (anthony, 90), (sara moniuszko fauci, 86), (michael collins fauci, 86), (anthony fehr, 72), (anthony kreis, 69), (anthony kaveh, 69), (anthony cardillo, 69), (semansky fauci, 67), (anthony santella, 66), (anthony almojera, 66), (simon anthony, 66), (anthony costello, 66), (anthony kennedy, 66), (antonio fatas, 62), (fauci trump, 59), (danny avula, 58), (archon fung, 58)]",anthnony fauci

In [68]:
# Rows where SELF = best candidate
df[df['possible_candidate'] == 'SELF'].head(50)

,orig_index,raw_name,num_words,top20_candidates_with_score,possible_candidate
0,0,a chris heath,3,"[(sharon a mcgrath morrow, 86), (christ, 75), (charissa cheah, 74), (chris chen, 70), (head, 68), (chris craft, 67), (chris hayes, 67), (cara christ, 67), (chris sale, 66), (chris luke, 64), (chris whitty, 64), (chris dede, 64), (christopher zahn, 62), (chris kratochvil, 62), (jean christophe lagier, 62), (rachel thorn heathcock, 62), (ashish jha, 61), (heard garris, 61), (chris braden, 61), (andrea andrea crisanti, 60)]",SELF
1,1,aaron adalja,2,"[(aaron pallas, 75), (aaron glatt, 70), (amesh a adalja, 69), (adam, 68), (azar, 68), (alvaro alban, 67), (aaron carroll, 64), (aaron c davis, 64), (abelardo avila, 62), (jason adler, 61), (diana adama, 61), (arun sanyal, 61), (aaron rupar, 61), (ali, 60), (ala, 60), (aaron naeger, 58), (aaron shakow, 58), (kamiar alaei, 58), (anthony almojera, 57), (aaron milstone, 56)]",SELF
2,2,aaron bernstein,2,"[(ronald brownstein, 75), (john brownstein, 73), (anna bershteyn, 69), (azar, 68), (adam rubinstein, 67), (penny bornstein, 67), (penny borenstein, 65), (adam bernheim, 64), (alan lerner, 62), (alan berger, 62), (aaron milstone, 62), (burton bentley ii, 62), (abe, 60), (ari brown, 60), (ala, 60), (robert benjamin, 60), (austin, 60), (steven b abramson, 59), (aaron reeves, 59), (aaron naeger, 59)]",SELF
3,3,aaron c davis,3,"[(davis, 90), (marybeth davis baggett, 86), (azar, 68), (brian davis, 67), (ron daniels, 67), (aaron adalja, 64), (david abramson, 64), (david asman, 64), (aaron pallas, 64), (aaron reeves, 64), (rob davidson, 64), (anissa davis, 64), (paul davis, 64), (ron desantis, 64), (david canon, 64), (aaron carroll, 62), (david archer, 61), (ali, 60), (ala, 60), (carson, 60)]",SELF
4,4,aaron carroll,2,"[(karen c carroll, 79), (aaron pallas, 72), (carre, 72), (azar, 68), (robin carre, 67), (aaron rupar, 67), (aaron adalja, 64), (daron cowley, 64), (aaron naeger, 64), (aaron shakow, 64), (mario alparone, 64), (martin carballo, 64), (clare farrell, 62), (anthony cardillo, 62), (alan campbell, 62), (damian caraballo, 62), (aaron c davis, 62), (cao bin, 61), (alta charo, 61), (ala, 60)]",SELF
5,5,aaron glatt,2,"[(aaron steckelberg, 86), (aaron adalja, 70), (aaron pallas, 70), (azar, 68), (aaron milstone, 64), (robert glatter, 64), (aaron rupar, 64), (sharon goldfarb, 62), (aaron naeger, 61), (aaron shakow, 61), (andy slavitt, 61), (alvaro alban, 61), (dario gil, 60), (ala, 60), (aaron reeves, 59), (aaron carroll, 59), (aaron bernstein, 59), (aaron c davis, 59), (itamar grotto, 58), (alan kraut, 57)]",SELF
6,6,aaron milstone,2,"[(don milton, 75), (carolyn maloney, 69), (azar, 68), (donald milton, 67), (marci hamilton, 64), (mark wilson, 64), (moulton, 64), (aaron glatt, 64), (mariana chilton, 62), (robin armstrong, 62), (aaron naeger, 62), (aaron bernstein, 62), (aaron pallas, 62), (aaron shakow, 62), (rohan miller, 62), (amy stone, 61), (armstrong, 61), (mario alparone, 61), (ala, 60), (marion nestle, 59)]",SELF
7,7,aaron naeger,2,"[(alan berger, 70), (aaron rupar, 70), (azar, 68), (aaron reeves, 67), (ann wagner, 64), (aaron carroll, 64), (anas nader, 64), (alan erera, 64), (marion nestle, 64), (aaron milstone, 62), (aaron steckelberg, 62), (isaac ngere, 61), (alan lerner, 61), (jason adler, 61), (peter navarro, 61), (archon fung, 61), (aaron glatt, 61), (abe, 60), (sharon a mcgrath morrow, 60), (ala, 60)]",SELF
8,8,aaron pallas,2,"[(ron paul, 79), (aaron adalja, 75), (aaron carroll, 72), (aaron rupar, 70), (aaron glatt, 70), (azar, 68), (paul, 68), (alvaro alban, 67), (paula cannon, 64), (aaron c davis, 64), (jared a ellias, 62), (aaron milstone, 62), (abelardo avila, 62), (robin patel, 61), (ali, 60), (ala, 60), (amanda williams, 59), (aaron reeves, 58), (aaron naeger, 58), (aaron shakow, 58)]",SELF
9,9,aaron reeves,2,"[(ron yee, 77), (tate reeves, 70), (reed, 68), (azar, 68), (aaron naeger, 67), (jason reed, 64), (aaron c davis, 64), (walberto reyes, 62), (aaron steckelberg, 62), (aaron rupar, 61), (aurore, 60), (ala, 60), (aaron bernstein, 59), (aaron glatt, 59), (aaron shakow, 58), (stuart reyes, 58), (aaron pallas, 58), (richard l revesz, 57), (john reed, 57), (margot roosevelt, 57)]",SELF
10,10,aaron rupar,2,"[(aaron steckelberg, 86), (aaron naeger, 70), (aaron pallas, 70), (azar, 68), (aaron carroll, 67), (aaron glatt, 64), (ron paul, 63), (ron hira, 63), (arvind kumar, 61), (ruth karron, 61), (aaron adalja, 61), (aaron reeves, 61), (aaron shakow, 61), (mario alparone, 61), (anand parekh, 61), (ala, 60), (mark rupp, 60), (richard carmona, 59), (gerard anderson, 59), (aaron milstone, 59)]",SELF
11,11,aaron shakow,2,"[(daron shaw, 82), (azar, 68), (aaron carroll, 64), (nayan shah, 64), (aaron milstone, 62), (robin shattock, 62), (aaron glatt, 61), (aaron rupar, 61), (ala, 60), (hai shao, 60), (catriona saynor, 59), (sharon nachman, 59), (mario alparone, 59), (alan dershowitz, 59), (shawn evans, 58), (aaron adalja, 58), (shira doron, 58), (aaron naeger, 58), (aaron pallas, 58), (aaron reeves, 58)]",SELF
12,12,aaron steckelberg,2,"[(aaron glatt, 86), (aaron rupar, 86), (azar, 68), (karl steinberg, 65), (laurence steinberg, 63), (aaron naeger, 62), (apryl steele, 62), (aaron reeves, 62), (steven, 60), (ala, 60), (brian stelter, 60), (abe, 60), (ann keller, 59), (steve adler, 58), (aaron milstone, 58), (arlene tickner, 58), (alan berger, 57), (aaron adalja, 56), (john swartzberg, 56), (aaron bernstein, 56)]",SELF
13,13,abbey hardy fairbanks,3,"[(w david hardy, 86), (harry, 72), (harry fay, 70), (head, 68), (howard forman, 62), (ali, 60), (fatima, 60), (adrian, 60), (ai, 60), (han, 60), (harvey, 60), (aralen, 60), (abe, 60), (harry winer, 58), (paul franks, 58), (harvey karp, 58), (abelardo avila, 57), (frank farley, 57), (amir ali, 56), (mark ali, 56)]",SELF
15,15,abbott labs,2,"[(abbott, 90), (sabra m abbott, 68), (april abbott, 67), (greg abbott, 67), (lilian abbo, 61), (abe, 60), (lamas, 60), (ala, 60), (brian labus, 55), (albert williams, 54), (lisa dabby, 54), (tao lina, 53), (dakotah lane, 52), (aaron pallas, 52), (o leary, 51), (bowale abimbola, 51), (alberto bisin, 50), (xiaobo lu, 50), (lisa lambert washington, 50), (apostolos ampountolas, 50)]",SELF
16,16,abdu sharkawy,2,"[(rahul sharma, 64), (david sherwyn, 62), (amy, 60), (abe, 60), (abdul el sayed, 59), (yasuyuki sahara, 57), (rahuldeb sarkar, 57), (amanda spray, 56), (paul sax, 56), (aaron shakow, 56), (susan ray, 55), (barbara sahakian, 55), (sarah caddy, 55), (safar, 54), (gu su, 54), (sarah cm, 53), (hala sabry, 52), (azadeh shirazi, 52), (sara cody, 52), (sonya babu narayan, 52)]",SELF
17,17,abdul el sayed,3,"[(abdul mabud chowdhury, 86), (el tayar, 86), (el khidir, 86), (el cid, 86), (sayed attaullah sayedzai, 86), (adil el tayar, 67), (andre sayegh, 62), (abdullah abdullah, 61), (amy, 60), (abe, 60), (abdu sharkawy, 59), (paul earley, 56), (paul sax, 55), (javier del aguila, 55), (adisu kebede, 54), (jared a ellias, 54), (lauren sauer, 54), (steve adler, 53), (saad b omer, 53), (amadou alpha sall, 52)]",SELF
18,18,abdul mabud chowdhury,3,"[(abdul el sayed, 86), (abe, 60), (humayun chaudhry, 59), (saheli roy choudhury, 59), (david chao, 54), (chad autry, 54), (mandl, 54), (yimmy chow, 54), (atul malhotra, 53), (abdullah abdullah, 53), (claudia cohn, 52), (guy mchendry, 52), (amy cho, 51), (mark hurst, 51), (jaouad mahjour, 51), (alta charo, 51), (ratula chakraborty, 51), (edward chew, 50), (louise chow, 50), (marty conway, 50)]",SELF
21,21,abelardo avila,2,"[(abe, 90), (alvaro alban, 69), (aaron adalja, 62), (aaron pallas, 62), (alejandro macias, 60), (ali, 60), (ala, 60), (arif alvi, 60), (nadia abuelezam, 59), (aaron c davis, 59), (javier del aguila, 58), (angelo virgona, 57), (abbey hardy fairbanks, 57), (amir ali, 56), (mark ali, 56), (aaron glatt, 56), (albert williams, 55), (fawziya abikar, 54), (abraar karan, 54), (david abramson, 54)]",SELF
22,22,abhijit duggal,2,"[(abe, 60), (ali, 60), (ala, 60), (amit uppal, 58), (mark duggan, 56), (jim dunn, 56), (arindrajit dube, 55), (narjust duma, 54), (tim duy, 51), (elizabeth douglass, 50), (rajib dasgupta, 50), (daniel aobdia, 49), (abigail carlson, 48), (jin dongyan, 48), (veena dubal, 48), (anita allen, 48), (robert dingwall, 48), (benjamin dalziel, 47), (anita kurian, 46), (naji abumrad, 46)]",SELF
23,23,abi gewirtz,2,"[(abe, 60), (ali, 60), (ai fen, 60), (matt gaetz, 57), (robin gurwitch, 56), (anahi ortiz, 55), (sami angawi, 55), (ian gilbert, 55), (omai garner, 55), (alan dershowitz, 54), (albert rizzo, 52), (adrian bangerter, 52), (avril benoit, 52), (claire guest, 52), (al gore, 51), (jonathan abramowitz, 51), (gabriel, 51), (daniel alpert, 50), (amir ali, 50), (lacie gregory, 50)]",SELF
24,24,abigail carlson,2,"[(carlson, 90), (carson, 75), (ann carlson, 74), (brad carson, 69), (angela charlton, 67), (chris carlson, 66), (craig calhoun, 64), (ben carson, 64), (charles, 64), (tucker carlson, 64), (alta charo, 63), (ali, 60), (catriona, 60), (cairns, 60), (aralen, 60), (abe, 60), (bill clinton, 59), (allison aiello, 59), (alina alonso, 59), (damian caraballo, 58)]",SELF
25,25,abraar karan,2,"[(karen, 72), (arne akbar, 69), (kaya, 68), (azar, 68), (shabana khan, 67), (abraham, 64), (partha kar, 64), (karin barbee, 64), (pam karlan, 64), (brianna keilar, 62), (arthur markman, 62), (mara altman, 61), (brian klaas, 61), (sabra klein, 61), (jonathan abraham, 61), (karan girotra, 61), (katharine bar, 61), (samara klar, 61), (niran al agba, 61), (kamran khan, 61)]",SELF
27,27,abraham l newman,3,"[(abraham, 90), (adam, 68), (jonathan abraham, 66), (sara lederman, 62), (amy, 60), (lin, 60), (sarah low, 60), (abe, 60), (newsom, 60), (mara altman, 59), (niran al agba, 59), (benjamin neuman, 58), (bruce a elleman, 58), (abraar karan, 57), (lindsey graham, 57), (jonatas abrahao, 55), (laura hammond, 55), (aralen, 55), (amler, 54), (gail newel, 54)]",SELF
29,29,adam bernheim,2,"[(adam, 90), (adams, 72), (adam rubinstein, 64), (adam rosh, 64), (jerome m adams, 64), (adam crum, 64), (aaron bernstein, 64), (adam blake, 61), (jerome adams, 61), (adam green, 61), (abe, 60), (amy, 60), (ala, 60), (beverley adams groom, 59), (anna bershteyn, 59), (adam finn, 59), (david berendes, 59), (adam schechter, 59), (alan lerner, 58), (alan berger, 58)]",SELF
30,30,adam blake,2,"[(adam, 90), (adam rubinstein, 86), (adam kamradt scott, 86), (adams, 72), (adam wolanski, 70), (dean baker, 70), (james black, 67), (bakker, 66), (adam levitin, 64), (heather blake, 64), (adam jarrett, 64), (adam douglas, 64), (adams dudley, 64), (david barker, 64), (adam winkler, 64), (adam bernheim, 61), (jamie e baker, 61), (carissa baker, 61), (jim blacka, 60), (abe, 60)]",SELF
31,31,adam collins,2,"[(adam, 90), (adam kamradt scott, 86), (michael collins fauci, 86), (doug collins, 75), (adam wolanski, 72), (adams, 72), (collins anyachi, 70), (adam levitin, 67), (adam douglas, 67), (adam finn, 67), (adam rosh, 67), (amy cho, 64), (alice miranda ollstein, 63), (adam j levitin, 62), (jared a ellias, 62), (andrew coggins, 62), (kent collin, 61), (adam schiff, 61), (colin camerer, 61), (ali, 60)]",SELF
32,32,adam crum,2,"[(adam, 90), (adam j levitin, 86), (adam schechter, 86), (adam kamradt scott, 86), (adam rubinstein, 86), (adam kucharski, 86), (adams, 72), (adam rosh, 67), (adam bernheim, 64), (adam schefter, 64), (jerome adams, 64), (adam green, 63), (andrew m cuomo, 61), (amy, 60), (adam schiff, 60), (ala, 60), (andrea crisanti, 60), (richard carmona, 60), (charles dela cruz, 60), (beverley adams groom, 60)]",SELF
33,33,adam douglas,2,"[(adam, 90), (adam kamradt scott, 86), (adam wolanski, 72), (adams, 72), (douglas brinkley, 70), (josh douglas, 70), (douglas drevets, 70), (douglas white, 70), (douglas woods, 70), (joshua douglas, 70), (douglas senderoff, 70), (adam collins, 67), (adam rosh, 67), (adams dudley, 67), (adam blake, 64), (adam kucharski, 62), (elizabeth douglass, 60), (don, 60), (amy, 60), (ala, 60)]",SELF
34,34,adam finn,2,"[(adam, 90), (adam j levitin, 86), (adam kucharski, 86), (adam rubinstein, 86), (adam schechter, 86), (adam kamradt scott, 86), (adams, 72), (sam fink, 71), (adam levitin, 67), (adam collins, 67), (adam winkler, 67), (diana adama, 66), (adam green, 63), (adam schiff, 60), (amy, 60), (jonathan finnoff, 60), (ala, 60), (daniel fein, 60), (javad amini saman, 60), (nadine finigan carr, 60)]",SELF
35,35,adam green,2,"[(adam, 90), (adam rubinstein, 86), (adam kamradt scott, 86), (donna green, 76), (david greenberg, 72), (adams, 72), (mark green, 70), (samuel greene, 70), (michael green, 64), (adam levitin, 64), (mark greeven, 64), (josh green, 64), (adam jarrett, 64), (lauren green, 64), (catriona greenwood, 63), (beverley adams groom, 63), (adam rosh, 63), (richard grenell, 63), (adam finn, 63), (adam crum, 63)]",SELF
36,36,adam j levitin,3,"[(adam levitin, 95), (adam, 90), (charles j ogletree jr, 86), (adam finn, 86), (adam crum, 86), (adam rosh, 86), (levitan, 77), (levin, 72), (adams, 72), (daniel levitin, 71), (david levin, 64), (adam jarrett, 62), (david levine, 62), (adam rubinstein, 62), (hagai levine, 62), (adam collins, 62), (andrew levin, 62), (lee, 60), (amy, 60), (lin, 60)]",SELF
37,37,adam jarrett,2,"[(adam, 90), (adam kamradt scott, 86), (mark jarrett, 75), (adams, 72), (adam blake, 64), (adam green, 64), (jerome adams, 64), (adam j levitin, 62), (janet diaz, 61), (amy, 60), (aurore, 60), (ala, 60), (adam finn, 59), (adam crum, 59), (jerome m adams, 59), (michael jerrett, 59), (adam rosh, 59), (adam levitin, 58), (david jewitt, 58), (adam bernheim, 56)]",SELF
38,38,adam kamradt scott,3,"[(adam, 90), (adam levitin, 86), (scott mcnabb, 86), (rick scott, 86), (adam douglas, 86), (adam finn, 86), (hal scott, 86), (scott morrow, 86), (scott harris, 86), (scott weaver, 86), (scott rein, 86), (scott pelley, 86), (adam schiff, 86), (adam jarrett, 86), (scott allen, 86), (adam crum, 86), (adam winkler, 86), (scott kelley, 86), (alex scott, 86), (adam blake, 86)]",SELF
39,39,adam kucharski,2,"[(adam, 90), (adam rosh, 86), (adam finn, 86), (adam crum, 86), (adams, 72), (adam wolanski, 67), (amy klobuchar, 67), (adam schiff, 64), (amy cho, 64), (adam douglas, 62), (kim, 60), (amir khan, 60), (amy, 60), (ala, 60), (adam marshall, 59), (adam schefter, 59), (ajay kumar bharti, 58), (adam blake, 58), (alta charo, 58), (adam schechter, 57)]",SELF
41,41,adam marshall,2,"[(adam, 90), (marshall, 90), (larry marshall, 74), (adam rosh, 73), (marshall prunty, 72), (martin marshall, 72), (adams, 72), (lewis marshall, 72), (marshall watson, 72), (marshall lyon, 72), (steven marshall, 72), (marshall steinbaum, 72), (marr, 68), (mrs ali, 61), (ali, 60), (amy, 60), (ala, 60), (aralen, 60), (martha mcsally, 59), (adam finn, 59)]",SELF
42,42,adam rosh,2,"[(adam, 90), (adam j levitin, 86), (adam kucharski, 86), (adam rubinstein, 86), (adam schechter, 86), (adam kamradt scott, 86), (adam marshall, 73), (adams, 72), (adam schiff, 70), (beverley adams groom, 70), (adam douglas, 67), (adam collins, 67), (roshini rajapaksa, 67), (adam crum, 67), (adam bernheim, 64), (adam wolanski, 64), (jerome adams, 64), (adam schefter, 64), (daniel roshan, 64), (darcy ross, 63)]",SELF
43,43,adam rubinstein,2,"[(adam, 90), (adam blake, 86), (adam rosh, 86), (adam finn, 86), (adam crum, 86), (adam green, 86), (adams, 72), (adam levitin, 67), (aaron bernstein, 67), (adam bernheim, 64), (ronald brownstein, 62), (adam j levitin, 62), (andrea crisanti, 60), (amy, 60), (ala, 60), (austin, 60), (adam collins, 59), (adam winkler, 59), (yashica robinson, 58), (sarah reagan steiner, 57)]",SELF
44,44,adam schechter,2,"[(adam, 90), (adam schefter, 89), (adam finn, 86), (adam crum, 86), (adam rosh, 86), (adams, 72), (sandra sucher, 67), (amy cho, 64), (adam schiff, 64), (neil schachter, 64), (david scheinker, 62), (armand sprecher, 62), (amy, 60), (ala, 60), (amy cohen, 60), (ms shi, 60), (daniel schnieder, 60), (edward schneider, 60), (daniel schneider, 60), (asim shah, 60)]",SELF
45,45,adam schefter,2,"[(adam, 90), (adam schechter, 89), (adam schiff, 75), (adams, 72), (sandra sucher, 69), (leonard schleifer, 67), (amy cho, 64), (david scheinker, 64), (adam crum, 64), (jeremy schefers, 64), (adam rosh, 64), (donald schaffner, 62), (willam schaffner, 62), (daniel schnieder, 62), (edward schneider, 62), (daniel schneider, 62), (dan schnur, 61), (adam green, 61), (amy, 60), (william schaffner, 60)]",SELF
46,46,adam schiff,2,"[(adam, 90), (adam kamradt scott, 86), (adam schefter, 75), (ms shi, 75), (adams, 72), (adam rosh, 70), (william schaffner, 66), (amy cho, 64), (adam schechter, 64), (dau schmidt, 64), (adam kucharski, 64), (adam collins, 61), (amy, 60), (adam finn, 60), (ala, 60), (adam crum, 60), (ghazala sharieff, 59), (donald schaffner, 59), (willam schaffner, 59), (adam bernheim, 58)]",SELF
47,47,adam winkler,2,"[(adam, 90), (adam kamradt scott, 86), (adams, 72), (adam finn, 67), (adam wolanski, 64), (adam blake, 64), (carl winter, 61), (harry winer, 61), (waikerie, 60), (amy, 60), (ala, 60), (amler, 59), (adam rubinstein, 59), (adam rosh, 59), (adam crum, 59), (alpha fowler, 58), (adam levitin, 58), (alan blinder, 58), (dean winslow, 58), (diana adama, 58)]",SELF
48,48,adam wolanski,2,"[(adam, 90), (adams, 72), (adam douglas, 72), (adam collins, 72), (adam blake, 70), (adam kucharski, 67), (adam rosh, 64), (adam winkler, 64), (amy, 60), (ala, 60), (adam finn, 59), (adam crum, 59), (adam schiff, 58), (amanda williams, 57), (adam rubinstein, 57), (andrew janowski, 57), (adam levitin, 56), (alice miranda ollstein, 56), (tom wolf, 56), (diana adama, 55)]",SELF
50,50,adams dudley,2,"[(adam, 90), (adams, 90), (beverley adams groom, 86), (adam douglas, 67), (adam blake, 64), (amy, 60), (ala, 60), (adam levitin, 58), (david ridley, 58), (adam winkler, 58), (dan doyle, 57), (adam crum, 57), (andrew dowdle, 56), (jerome adams, 56), (jerome m adams, 56), (dennis deeley, 56), (anas nader, 55), (doug ducey, 55), (adam green, 55), (adam j levitin, 54)]",SELF
51,51,adarsh pratap singh,3,"[(singh, 90), (jayant singh, 86), (sonia singh, 86), (jag singh, 86), (adams, 72), (azar, 68), (adam, 68), (rajita sinha, 68), (shubhra singh, 62), (ala, 60), (austin, 60), (adam rosh, 60), (harmandeep singh, 57), (sarah reagan steiner, 56), (david persing, 56), (tara smith, 54), (sarah park, 54), (debra patt, 54), (marc short, 54), (shupe, 54)]",SELF
52,52,addison,1,"[(anderson, 67), (allison chamberlain, 64), (alison sinclair, 64), (marc alain widdowson, 64), (alison whelan, 64), (allison brashear, 64), (allison aiello, 64), (allison mcgeer, 64), (allison k hoffman, 64), (alison tothy, 64), (alison pittard, 64), (alison barnett, 64), (alison holman, 64), (geoffrey annison, 64), (alison bateman house, 64), (allison arwady, 64), (adrian, 62), (nusheen ameenuddin, 60), (andrew gibson, 60), (gerard anderson, 55)]",SELF
53,53,adegoke oke,2,"[(abe, 60), (andrew goethe, 58), (angie bone, 57), (alex george, 55), (anderson cooper, 54), (ken alibek, 54), (alexander kekule, 52), (al gore, 51), (andrew potter, 50), (shane g owens, 50), (joe amon, 50), (angela merkel, 50), (andrew noymer, 50), (andrew dowdle, 50), (naomi oreskes, 50), (angela rogers, 50), (angok gordon kuol, 50), (saad omer, 50), (roy anderson, 49), (joleen aguon, 49)]",SELF
56,56,adil el tayar,3,"[(tayar, 90), (el tayar, 90), (el cid, 86), (daniel taylor, 69), (azar, 68), (abdul el sayed, 67), (alex azar, 64), (ji il tark, 61), (ali, 60), (amy, 60), (li tan, 60), (ai fen, 60), (nada al mutawa, 59), (alex tabarrock, 59), (javier del aguila, 57), (aileen marty, 56), (chloe taylor, 56), (diana taylor, 56), (paul tambyah, 56), (tara kirk sell, 56)]",SELF

In [65]:
df.to_csv("disambiguation_final.csv", index=False)

In [66]:
df_possible = df[df['possible_candidate'] != 'SELF'].copy()
df_possible.reset_index(drop=True, inplace=True)
print(df_possible.shape)
df_possible.to_csv("disambiguation_final_possible_candidates.csv", index=False)

(446, 5)

### END.
### Just looking at some examples in the final dataframe below.

In [69]:
df[df['possible_candidate'] == 'SELF'].tail(50)

,orig_index,raw_name,num_words,top20_candidates_with_score,possible_candidate
5391,5411,yossi sheffi,2,"[(ms shi, 60), (saira sheikh, 58), (shupe, 54), (singh, 54), (yasutoshi nishimura, 52), (shi zhengli, 52), (josiah solis, 50), (steffie woolhandler, 50), (younas elahi, 50), (sania ashraf, 50), (pei yong shi, 50), (jeanne sheffield, 50), (shi yinhong, 49), (seema yasmin, 48), (douglas senderoff, 48), (asim shah, 48), (hiroshige seko, 46), (jeffrey smith, 46), (jeffrey sachs, 46), (mahmoud hashemi shahroudi, 45)]",SELF
5392,5412,younas elahi,2,"[(young, 72), (yuan, 68), (young pak, 57), (cai yi, 57), (lisa r young, 55), (pei yong shi, 55), (yulia, 54), (ali yusuf, 54), (elaine larson, 53), (neal elattrache, 52), (yorba linda, 52), (yuval neria, 52), (yogesh jain, 52), (donna e shalala, 52), (amir yaron, 52), (ron yee, 51), (lawrence young, 51), (jeanette young, 51), (elanah uretsky, 51), (cheng yung chi, 51)]",SELF
5394,5414,young pak,2,"[(young, 90), (lawrence young, 86), (jeanette young, 86), (dannagal young, 86), (jeannette young, 86), (pampee young, 72), (ho pak leung, 72), (yuan, 68), (brad younggren, 67), (lisa r young, 67), (duncan young, 67), (ron paul, 59), (pan hwai tzong, 57), (the koret playground, 57), (yu dan, 57), (younas elahi, 57), (yang wang, 56), (patrick vogt, 54), (meng aw yong, 54), (pei yong shi, 54)]",SELF
5396,5416,yu dan,2,"[(yu, 90), (dan wallach, 86), (dan doyle, 86), (dan crenshaw, 86), (dan patrick, 86), (howard yu, 86), (dan wakeford, 86), (dan ariely, 86), (dan tehan, 86), (dan mccarthy, 86), (koh yu hwan, 86), (dan varga, 86), (dan schnur, 86), (yu hongyan, 86), (yuan, 80), (wang yu, 73), (yazdan yazdanpaneh, 71), (yazdan yazdanpanah, 71), (duncan young, 71), (dan suan, 67)]",SELF
5397,5417,yu hongyan,2,"[(yu, 90), (yu dan, 86), (yuan, 68), (yang, 68), (larry hogan, 67), (yuan herong, 67), (hogan, 67), (jin dong yan, 64), (leung yiu hong, 64), (sara hogan, 60), (howard yu, 60), (han, 60), (yi guan, 59), (yanzhong huang, 58), (yan jirong, 57), (lu hongzhou, 57), (koh yu hwan, 57), (guan yi, 56), (wang yu, 56), (yang hengjun, 55)]",SELF
5399,5419,yuan herong,2,"[(yu, 90), (yuan, 90), (meng yuan, 76), (yan jirong, 76), (yan chen, 74), (yang hengjun, 70), (yang, 68), (yu hongyan, 67), (alan herman, 64), (yangyang cheng, 64), (anna yeung cheung, 62), (ron yee, 61), (anna hemming, 61), (yang seung ham, 61), (wang yu, 61), (cheng yung chi, 61), (duncan young, 61), (yang wang, 60), (shuhan he, 60), (yu dan, 60)]",SELF
5400,5420,yuan po tu,3,"[(yu, 90), (yuan, 90), (yang, 68), (yuna rapoport, 61), (yu dan, 60), (otto yang, 60), (meng yuan, 59), (yuen kwok yung, 58), (yuan herong, 57), (susan turney, 55), (duncan young, 55), (romano paolucci, 54), (yulia, 54), (young, 54), (george yancopoulos, 54), (george d yancopoulos, 54), (young pak, 53), (rand paul, 53), (jo potuto, 53), (andrew potter, 52)]",SELF
5401,5421,yuen kwok yung,3,"[(yu, 90), (young, 72), (yuan, 68), (yang, 68), (meng aw yong, 62), (meng yuan, 61), (roy kwong, 61), (jeff kwong, 58), (yuan po tu, 58), (yu dan, 57), (yuan herong, 56), (ying ying goh, 56), (kin k leung, 56), (lawrence young, 54), (kevin ouyang, 54), (duncan young, 54), (samson yuen, 53), (yan chen, 53), (yang wang, 52), (nadia kounang, 52)]",SELF
5402,5422,yulia,1,"[(yu, 90), (yuan, 67), (yuval neria, 62), (meng yuan, 60), (yuan herong, 57), (yuna rapoport, 57), (yi cui, 55), (yu dan, 55), (hsu li yang, 54), (younas elahi, 54), (yuan po tu, 54), (jamie yutzie, 54), (yorba linda, 54), (yuval baruch, 54), (dali yang, 54), (yasuyuki sahara, 54), (yifang zhu, 54), (yi guan, 50), (yang, 44), (young pak, 43)]",SELF
5403,5423,yuna rapoport,2,"[(yu, 90), (david rapoport, 74), (yuan, 68), (yuan po tu, 61), (yulia, 57), (robert yoon, 55), (young, 54), (angela rippon, 54), (amy r sapkota, 54), (roberto rona, 53), (ratula chakraborty, 52), (raja krishnamoorthi, 50), (rosina racioppi, 50), (yuan herong, 50), (yuval neria, 50), (nishant rao, 50), (samson yuen, 48), (roger porter, 48), (yonatan grad, 48), (cynthia rohrbeck, 48)]",SELF
5404,5424,yuval baruch,2,"[(yu, 90), (baruch lev, 71), (barr, 68), (yuan, 68), (baruch fischhoff, 64), (baruch fertel, 64), (yuval neria, 61), (evan bloch, 55), (michael barr, 55), (yulia, 54), (bruce liu, 54), (pavan bhatraju, 54), (rachel barrack, 54), (charles bruen, 53), (charlie baker, 53), (michael baker, 53), (yan chen, 53), (michael j buchmeier, 52), (russel buhr, 52), (bruce dart, 52)]",SELF
5405,5425,yuval neria,2,"[(yu, 90), (yuan, 68), (yulia, 62), (yuval baruch, 61), (ali nouri, 60), (yu dan, 57), (neha vyas, 57), (yuan herong, 55), (suhail naik, 55), (stuart neil, 55), (nuala meyer, 55), (nadia, 54), (nora volkow, 52), (nick yablon, 52), (dale needham, 52), (younas elahi, 52), (paul nestadt, 52), (nick turkal, 52), (yi guan, 51), (mangala narasimhan, 50)]",SELF
5406,5426,yvonne doyle,2,"[(dan doyle, 67), (yvonne king, 67), (yvonne griffiths, 64), (yvonne maldonado, 64), (don, 60), (brice de le vingne, 57), (von der leyen, 56), (andrew dowdle, 56), (john dwyer, 55), (young, 54), (dafoe, 54), (don lemon, 54), (o day, 54), (ron yee, 53), (donnell, 53), (victoria dooley, 52), (neeltje van doremalen, 52), (lance dodes, 52), (steve doocy, 52), (devon, 51)]",SELF
5407,5427,yvonne griffiths,2,"[(yvonne king, 67), (yvonne doyle, 64), (diane griffin, 62), (daniel griffin, 60), (jonathan giftos, 58), (stephen griffin, 55), (young, 54), (anne grete hestnes, 53), (robin gurwitch, 53), (cornelia griggs, 52), (yvonne maldonado, 52), (jessica griffin, 52), (o grady, 51), (yonatan grad, 50), (jon garon, 50), (nancy gin, 50), (chu yin, 49), (newt gingrich, 48), (kenneth gillingham, 47), (julie greicius, 47)]",SELF
5408,5428,yvonne king,2,"[(king, 90), (kang, 68), (yvonne doyle, 67), (yvonne griffiths, 67), (yvonne maldonado, 67), (kevin lynn, 64), (yoon in jin, 64), (kayser enneking, 62), (wong ka hing, 61), (kinsa, 60), (kim, 60), (josh king, 60), (ron klain, 60), (yan jirong, 57), (arlene keeling, 56), (joanne katzman, 56), (hadley king, 55), (yogesh jain, 55), (carina king, 55), (roger klein, 55)]",SELF
5409,5429,yvonne maldonado,2,"[(bonnie maldonado, 88), (yvonne king, 67), (yvonne doyle, 64), (ross macdonald, 60), (lona mody, 57), (glenn rice mcdonald, 57), (maillard, 56), (kayvon modjarrad, 56), (eric mcdonald, 55), (rice mcdonald, 55), (ross mcdonald, 55), (don milton, 54), (young, 54), (john manly, 54), (mandl, 54), (syra madad, 54), (ann masten, 54), (yvonne griffiths, 52), (carolyn maloney, 52), (donald milton, 52)]",SELF
5410,5430,zabulon yoti,2,"[(nick yablon, 58), (john yoo, 56), (guan yi, 53), (massimo zambon, 51), (ron yee, 51), (taisu zhang, 49), (martin zand, 49), (wu zunyou, 48), (otto yang, 46), (zhan jiang, 45), (paul zeitz, 45), (yu, 45), (cai yi, 45), (yuan po tu, 45), (yuan, 45), (ram yeleti, 45), (yoshinobu yamamoto, 45), (andy yap, 45), (new york, 45), (liu zi, 43)]",SELF
5411,5431,zach branson,2,"[(richard branson, 74), (alex brandon, 67), (alex brandonap, 62), (cynthia benson, 62), (brian monahan, 61), (chad bianco, 61), (jonathan braun, 59), (bruce ransom, 58), (chris braden, 58), (ari brown, 57), (christopher branden, 57), (michael brown, 56), (zhong nanshan, 56), (john barrasso, 56), (brian long, 55), (brian conway, 55), (emma brown, 55), (bao ping zhu, 55), (brobson lutz, 55), (brown, 54)]",SELF
5412,5432,zafar mirza,2,"[(shavkat mirziyoyev, 58), (madina nagar, 58), (frank mora, 57), (sarah maza, 57), (jean paul mira, 56), (raghavendra mirmira, 55), (mark ingram, 55), (mark miller, 55), (sascha meinrath, 54), (sarfaraz munshi, 54), (metra, 54), (miryam wahrman, 53), (sanjay maggirwar, 52), (kashif munir, 52), (alejandro macias, 52), (zara mathews, 52), (carl minzner, 52), (muhammad hamid zaman, 50), (sara moniuszko fauci, 50), (andrew miller, 50)]",SELF
5413,5433,zaheer shah,2,"[(shah mahmood qureshi, 86), (meera shah, 76), (seema shah, 67), (mahmoud hashemi shahroudi, 66), (rachna shah, 64), (madhvi shah, 64), (hina shah, 60), (zhu, 60), (asim shah, 60), (peter shulman, 58), (naseem salahuddin, 58), (walter schachermayer, 58), (chester spatt, 58), (heather haynes smith, 58), (catherine sabiston, 58), (daron shaw, 57), (nirav shah, 57), (hajo zeeb, 57), (nayan shah, 57), (azadeh shirazi, 56)]",SELF
5414,5435,zahi fayad,2,"[(fuad nahdi, 66), (mohammad javad zarif, 60), (zhu, 60), (ai fen, 60), (sarah zaidi, 54), (zaidi, 54), (farda, 54), (harry fay, 53), (folasade may, 52), (zarir udwadia, 52), (antonio fatas, 52), (muhammad hamid zaman, 51), (tawanda zvakada, 51), (liza fazio, 50), (kim farley, 50), (ruth faden, 50), (tapiwa zvakada, 50), (hannah fry, 50), (david zieg, 48), (martin zand, 48)]",SELF
5416,5437,zara mathews,2,"[(john mathews, 70), (amy mathers, 70), (art mathisen, 67), (john matthews, 64), (barun mathema, 64), (laura martinez, 62), (marick masters, 62), (victor matheson, 59), (andrea mitchell, 59), (matthew seeger, 59), (karla mckanders, 59), (benny mathew, 58), (ziad a memish, 56), (naser mhawish, 56), (luana marques, 56), (matthew k wynia, 56), (margaret thatcher, 55), (mark lewis, 55), (mark smith, 55), (sarah maza, 55)]",SELF
5417,5438,zarir udwadia,2,"[(zaidi, 56), (david ziehr, 55), (zubin damania, 54), (zahi fayad, 52), (sarah zaidi, 50), (habib zaidi, 50), (martin zand, 50), (zafar mirza, 50), (david zieg, 49), (julian zelizer, 49), (tawanda zvakada, 48), (andreas zapf, 46), (zeinab badawi, 46), (zhang junjian, 46), (mohammad javad zarif, 46), (jose luis alomia zegarra, 46), (gul zaidi, 45), (margaret zacharin, 45), (gabriel zucman, 44), (tapiwa zvakada, 44)]",SELF
5418,5439,zeinab badawi,2,"[(linda bauld, 58), (kevin brady, 58), (liu zi, 57), (regina benjamin, 57), (eric baradat, 56), (vikas bajpai, 56), (leila barraza, 54), (zubin damania, 54), (zaidi, 54), (eliza barclay, 54), (minakshi bhardwaj, 53), (nahid bhadelia, 52), (brooke baldwin, 52), (diana brainard, 52), (elizabeth bihn, 52), (matthew baldwin, 50), (melissa bartick, 50), (anasse bari, 50), (diaz balart, 50), (julia braga, 50)]",SELF
5419,5440,zeke emanuel,2,"[(emanuel, 90), (ezekiel emanuel, 89), (exekiel emanuel, 81), (rahm emanuel, 70), (eike steinmann, 62), (jan emmanuel de neve, 60), (emanuele cremaschi, 57), (emmanuel macron, 56), (jeffrey engel, 56), (emmanuel andre, 54), (anne zink, 54), (paul zeitz, 52), (kelly evans, 52), (ernie guzman, 50), (ellen foxman, 50), (eli fenichel, 50), (emil verner, 49), (elaine kinsella, 49), (evan rieder, 49), (erika lee, 48)]",SELF
5420,5441,zeng guang,2,"[(guan, 90), (zeng qun, 78), (zheng gangtie, 78), (geng shuang, 76), (wang guangfa, 73), (gang wang, 70), (zeng lingkong, 70), (zuo feng zhang, 67), (linkou chang gung, 67), (wang gungwu, 67), (ernie guzman, 64), (zhang mingliang, 64), (chen guozhong, 61), (zhang junjian, 61), (zhan jiang, 60), (yi guan, 59), (erin gustafson, 58), (liang zong an, 58), (greg rigano, 57), (guan yi, 56)]",SELF
5421,5442,zeng lingkong,2,"[(li, 90), (lin, 90), (zeng qun, 86), (zeng guang, 70), (ming lin, 68), (fang li, 64), (zhang mingliang, 64), (zheng gangtie, 62), (zhang wenhong, 62), (liu, 60), (leung yiu hong, 59), (liang zong an, 59), (sten linnarsson, 57), (iain livingston, 57), (zhang xinmin, 56), (li liang, 56), (zhang dingyu, 56), (sean leng, 55), (iain livingstone, 55), (langa, 54)]",SELF
5422,5443,zeng qun,2,"[(zeng lingkong, 86), (zeng guang, 78), (zheng gangtie, 57), (zhang junjian, 57), (jinfeng zhou, 56), (zhong nanshan, 56), (zuo feng zhang, 56), (noel quinn, 56), (liang zong an, 56), (zhong, 54), (xu zhangrun, 53), (zhang xinmin, 53), (jonathan zenilman, 53), (john zeanchock, 53), (jon zelner, 53), (zhang dingyu, 53), (jose luis alomia zegarra, 53), (zhang mingliang, 53), (zhang wenhong, 53), (xu zhiyong, 53)]",SELF
5423,5444,zeynep tufekci,2,"[(yuan po tu, 50), (celine thum, 48), (pete turkington, 48), (steven t mnuchin, 47), (kate tulenko, 46), (steven zeichner, 46), (zeke emanuel, 46), (top us, 45), (zeng qun, 45), (daniel tokaji, 44), (lynne tirrell, 44), (denise thames, 44), (zheng gangtie, 44), (laurence tribe, 43), (liu zi, 43), (daniela trezzi, 43), (arlene tickner, 43), (li tan, 43), (manesh trivedi, 43), (euan tovey, 42)]",SELF
5424,5445,zhan jiang,2,"[(zhang junjian, 78), (zhang mingliang, 77), (zhao lijian, 76), (jiang su, 73), (zhang dingyu, 73), (sheng jifang, 73), (yan jirong, 70), (chen jingyu, 67), (wei jiang, 67), (yifang zhu, 66), (zhang xinmin, 64), (jiang xueqing, 64), (chong ja ian, 64), (huang jinhai, 64), (shaomeng jia, 64), (li wenliang zhu, 63), (zhou xianwang, 61), (zheng gangtie, 61), (jinfeng zhou, 61), (zhang wenhong, 61)]",SELF
5425,5446,zhang dingyu,2,"[(zhan jiang, 73), (zhong, 72), (zhang xinmin, 67), (zhang mingliang, 67), (zuo feng zhang, 66), (taisu zhang, 66), (zhang junjian, 64), (zhang wenhong, 64), (don, 60), (zhu, 60), (xu zhangrun, 58), (john dearing, 58), (yu dan, 57), (mei zhongming, 56), (zeng lingkong, 56), (zheng gangtie, 56), (feigl ding, 55), (zeng guang, 55), (dan tehan, 54), (dali yang, 54)]",SELF
5426,5447,zhang junjian,2,"[(zhan jiang, 78), (zhang xinmin, 72), (zhong, 72), (zhang mingliang, 71), (zhao lijian, 67), (chong ja ian, 64), (huang jinhai, 64), (yang junchao, 64), (zhang dingyu, 64), (sheng jifang, 64), (shaomeng jia, 64), (kang xing jin, 62), (zhong nanshan, 62), (zhang wenhong, 62), (zeng guang, 61), (jim, 60), (zhu, 60), (liang zong an, 59), (taisu zhang, 59), (xu zhangrun, 58)]",SELF
5427,5448,zhang mingliang,2,"[(ming lin, 79), (zhan jiang, 77), (zhang xinmin, 74), (zhong, 72), (zhang junjian, 71), (zhang dingyu, 67), (liang zong an, 67), (li wenliang zhu, 64), (zeng lingkong, 64), (zheng gangtie, 64), (zhang wenhong, 64), (zeng guang, 64), (zhao lijian, 62), (yifang zhu, 60), (zhu, 60), (taisu zhang, 59), (brian mehling, 57), (mei zhongming, 57), (lee chang min, 57), (zhong nanshan, 57)]",SELF
5428,5449,zhang wenhong,2,"[(zhong, 72), (zhang xinmin, 64), (gang wang, 64), (zuo feng zhang, 64), (yang wang, 64), (zhenzhong si, 64), (zhang dingyu, 64), (zhang mingliang, 64), (zeng lingkong, 62), (zhong nanshan, 62), (zhang junjian, 62), (zhan jiang, 61), (zhu, 60), (taisu zhang, 59), (tsai ing wen, 56), (john wan, 56), (wang ping, 55), (leana wen, 55), (liang wannian, 54), (sung won sohn, 54)]",SELF
5429,5450,zhang xinmin,2,"[(zhang mingliang, 74), (zhong, 72), (zhang junjian, 72), (kang xing jin, 72), (zhang dingyu, 67), (zhan jiang, 64), (zhou min, 64), (chen xi, 64), (zhang wenhong, 64), (zhao lijian, 61), (zhu, 60), (hu xijin, 60), (taisu zhang, 59), (xu zhangrun, 58), (martin zand, 58), (tang xinghua, 58), (zeng lingkong, 56), (zhou xianwang, 56), (jiang xueqing, 56), (zheng gangtie, 56)]",SELF
5430,5451,zhao lijian,2,"[(li, 90), (zhan jiang, 76), (rhea liang, 67), (zhang junjian, 67), (zhou min, 63), (tao lina, 63), (zhang mingliang, 62), (zhang xinmin, 61), (lin, 60), (zhu, 60), (li tan, 60), (liu, 60), (li wenliang zhu, 59), (lilian peake, 58), (zhou xianwang, 58), (jinfeng zhou, 58), (zhong, 57), (lilian wu, 57), (hilary lin, 57), (ian lipkin, 57)]",SELF
5431,5452,zheng gangtie,2,"[(zeng guang, 78), (zhong, 72), (guan, 68), (zhang mingliang, 64), (kennedy ganti, 62), (zeng lingkong, 62), (gang wang, 61), (zhan jiang, 61), (zhu, 60), (zuo feng zhang, 59), (gabriel leung, 59), (geng shuang, 58), (zeng qun, 57), (zhang xinmin, 56), (wang guangfa, 56), (zhenzhong si, 56), (zhang dingyu, 56), (anne grete hestnes, 55), (taisu zhang, 55), (shi zhengli, 55)]",SELF
5432,5453,zhenzhong si,2,"[(zhong, 90), (shi yinhong, 66), (shi zhengli, 66), (zhang wenhong, 64), (zhong nanshan, 61), (zhu, 60), (pei yong shi, 58), (zhou min, 56), (mei zhongming, 56), (zheng gangtie, 56), (zuo feng zhang, 54), (gu su, 54), (hwang seung sik, 52), (ho ming sho, 52), (xu zhiyong, 52), (cho sung il, 52), (hun sen, 51), (singh, 51), (zhang xinmin, 50), (shengjie lai, 50)]",SELF
5434,5455,zhong nanshan,2,"[(zhong, 90), (sharon nachman, 67), (liang zong an, 66), (zhou xianwang, 62), (zhang junjian, 62), (zhang wenhong, 62), (zhenzhong si, 61), (zhu, 60), (zuo feng zhang, 59), (mangala narasimhan, 58), (thomas nash, 58), (doug noonan, 58), (nayan shah, 58), (zhang mingliang, 57), (zhang xinmin, 56), (zhou tao, 56), (zhou min, 56), (zeng qun, 56), (zach branson, 56), (taisu zhang, 55)]",SELF
5435,5456,zhou min,2,"[(lee chang min, 86), (zhou xianwang, 86), (jinfeng zhou, 86), (mei zhongming, 68), (bao ping zhu, 68), (zhang xinmin, 64), (zhou tao, 64), (benjamin zipursky, 64), (li wenliang zhu, 64), (yifang zhu, 64), (ho ming sho, 63), (zhao lijian, 63), (zhong, 62), (zhu, 60), (don milton, 56), (john mixon, 56), (michael mina, 56), (colm o morain, 56), (sascha meinrath, 56), (zhenzhong si, 56)]",SELF
5436,5457,zhou tao,2,"[(zhou xianwang, 86), (jinfeng zhou, 86), (zhou min, 64), (chloe taylor, 60), (zhu, 60), (li wenliang zhu, 57), (zhong, 57), (elizabeth talbot, 56), (timothy taylor, 56), (chuck todd, 56), (yoshihiro takayama, 56), (ambrose otau talisuna, 56), (zhong nanshan, 56), (tom talbot, 56), (top us, 54), (anita thomas, 53), (yifang zhu, 53), (zhao lijian, 53), (huaiyu tian, 53), (thomas tsai, 53)]",SELF
5437,5458,zhou xianwang,2,"[(zhou tao, 86), (zhou min, 86), (jinfeng zhou, 68), (xiao, 68), (hu xijin, 68), (yifang zhu, 66), (zhong nanshan, 62), (zhan jiang, 61), (li wenliang zhu, 61), (zhu, 60), (liang zong an, 59), (zhao lijian, 58), (zhong, 57), (zhang mingliang, 57), (zhang xinmin, 56), (zhang wenhong, 54), (bao ping zhu, 53), (xiao qiang, 52), (zuo feng zhang, 52), (luo xianke, 52)]",SELF
5439,5460,ziad a memish,3,"[(sharon a mcgrath morrow, 86), (adam, 68), (risa m mish, 67), (jared a ellias, 59), (aziza ahmed, 58), (amy, 57), (liu zi, 57), (mahmoud hashemi shahroudi, 56), (zara mathews, 56), (adams, 56), (adam rosh, 55), (david m smith, 54), (adam marshall, 54), (zaidi, 54), (mahshid abir, 53), (lois ann welsh, 52), (michael smerconish, 52), (amler, 51), (adhanom, 51), (zafar mirza, 50)]",SELF
5440,5461,zoltan kiss,2,"[(kim, 60), (ki moran, 60), (daniel kreiss, 58), (nancy kass, 57), (keith mortman, 55), (rowland kao, 55), (kinsa, 54), (elaine kinsella, 54), (tal zaks, 53), (ellen kossek, 52), (zsolt katona, 52), (susan kline, 52), (taisu zhang, 52), (kristen kish, 52), (john p kress, 52), (nancy klimas, 52), (anthony kreis, 50), (jonathan karl, 50), (milton keynes, 50), (ursula kaiser, 50)]",SELF
5441,5462,zora wolfe,2,"[(tom wolf, 67), (milton wolf, 57), (lawrence journal world, 54), (george zgourides, 51), (mark woolhouse, 50), (roger wong, 50), (erik wilke, 50), (jane waldfogel, 50), (robert w amler, 50), (justin wolfers, 50), (eric wilke, 50), (glenn zaccara, 49), (jorge wated, 48), (robert west, 48), (rita wilson, 48), (mary walter, 48), (josephine wolff, 48), (greg walden, 48), (gordon wong, 48), (henry walke, 48)]",SELF
5442,5463,zsolt katona,2,"[(peter katona, 67), (ali khan, 56), (joe kalt, 56), (kevan shokat, 55), (kathryn snow, 55), (karen, 54), (tal zaks, 53), (ruth karron, 52), (zoltan kiss, 52), (joel kaplan, 52), (rowland kao, 52), (kathryn weston, 51), (kaletra, 51), (soo kim, 51), (zhou tao, 50), (aris katzourakis, 50), (adam kamradt scott, 50), (kathryn stephenson, 50), (karol sikora, 50), (kathryn seawant, 49)]",SELF
5443,5464,zubin damania,2,"[(yu dan, 60), (zhu, 60), (diana adama, 58), (brian davis, 58), (daniela trezzi, 56), (dana perino, 55), (daniel fein, 55), (dana garfin, 55), (zeinab badawi, 54), (zarir udwadia, 54), (o day, 54), (zhou min, 53), (daniel klein, 53), (david hui, 52), (lisa delamaine, 52), (anne zink, 52), (pia daniel, 52), (daniel mcquillen, 52), (david putrino, 51), (daniel sumner, 51)]",SELF
5444,5465,zuo feng zhang,3,"[(jie feng, 86), (mi feng, 86), (zhong, 72), (ho fung hung, 69), (zeng guang, 67), (zhang dingyu, 66), (elaine shuo feng, 64), (zhang wenhong, 64), (fu meng khaw, 62), (zhu, 60), (ai fen, 60), (zhong nanshan, 59), (taisu zhang, 59), (zheng gangtie, 59), (jinfeng zhou, 59), (fengyong liu, 59), (zhang xinmin, 56), (zeng qun, 56), (xu zhangrun, 56), (kean feng lim, 56)]",SELF

In [71]:
df[df['possible_candidate'] != 'SELF'].tail(100)

,orig_index,raw_name,num_words,top20_candidates_with_score,possible_candidate
4304,4319,rita,1,"[(rita wilson, 90), (maria rita gismondo, 90), (fernando rodriguez artalejo, 68), (ritu thamman, 68), (greg rigano, 68), (robert atmar, 68), (ricardo azziz, 68), (risa m mish, 68), (kristopher richardson, 68), (ralph northam, 68), (k srinath reddy, 68), (robert anolik, 68), (robert amler, 68), (ricardo ramirez, 68), (gregory rigano, 68), (ana maria henao restrepo, 68), (krista reitberg, 68), (christopher r braden, 68), (emilio ribas, 68), (christian rose, 68)]",maria rita gismondo
4319,4334,robert amler,2,"[(robert w amler, 95), (amler, 90), (robert hendershott, 86), (lionel p robert jr, 86), (robert j kim farley, 86), (robert david siegel, 86), (robert atmar, 83), (robert wagner, 80), (robert kadlec, 80), (robert gary, 78), (robert shiller, 77), (robert glatter, 77), (robert talisse, 77), (robert wachter, 77), (robert a neimeyer, 76), (robert gallo, 75), (roger farmer, 75), (robert faris, 75), (robert levin, 75), (robert schlager, 74)]",robert w amler
4332,4347,robert cohen,2,"[(robert l cohen, 95), (cohen, 90), (robert hendershott, 86), (lionel p robert jr, 86), (robert j kim farley, 86), (roxane cohen silver, 86), (daniel aldana cohen, 86), (robert david siegel, 86), (robert kelchen, 85), (robert chesney, 85), (robert cherry, 80), (john roberts, 79), (robert yoon, 78), (robert o brien, 77), (robert wachter, 77), (robertson, 76), (roberto cosentini, 76), (roberto rona, 75), (robert reich, 75), (robert levin, 75)]",robert l cohen
4355,4370,robert kim farley,3,"[(robert j kim farley, 95), (kim farley, 90), (kim, 90), (jesi kim, 86), (kim jong un, 86), (robert west, 86), (soo kim, 86), (daniel kim, 86), (alfred kim, 86), (thomas kim, 86), (robert gary, 86), (david kim, 86), (kim binsted, 86), (pauline kim, 86), (robert uzzo, 86), (robert yoon, 86), (robert nied, 86), (robert kadlec, 73), (robert faris, 72), (riley, 72)]",robert j kim farley
4368,4383,robert salata,2,"[(robert a salata, 95), (robert atmar, 80), (robert kaplan, 77), (robert west, 75), (sarah t roberts, 75), (roberto stella, 74), (roberto posada, 74), (robert glatter, 74), (robert gallo, 72), (robert amler, 72), (robert schlager, 71), (robert anolik, 69), (robert blanchard, 69), (robert kadlec, 69), (robert siegel, 69), (robert peston, 69), (robert caudill, 67), (robert gary, 67), (robert stevens, 67), (robert epstein, 67)]",robert a salata
4372,4387,robert siegel,2,"[(robert david siegel, 95), (siegel, 90), (robert nied, 75), (robert quigley, 74), (roberto stella, 74), (robert stevens, 74), (robert shiller, 74), (robert gallo, 72), (robert dingwall, 71), (robert schlager, 71), (robert summerer, 71), (robert wagner, 69), (jeremy siegel, 69), (robert salata, 69), (robert bollinger, 69), (robert west, 67), (robert hacking, 67), (robert caudill, 67), (robert bickers, 67), (robert gary, 67)]",robert david siegel
4392,4407,robertson,1,"[(andrew robertson, 90), (robertson davenport, 90), (charles robertson, 90), (johnson roberson, 85), (robert peston, 82), (nichola roberston, 80), (robert yoon, 80), (andrew roberston, 80), (sarah t roberts, 79), (mysheika roberts, 79), (roberto rona, 76), (robert cohen, 76), (roberto burioni, 75), (robert harrison, 75), (roberto perotti, 75), (roberto bernabei, 75), (robert thompson, 75), (roberto cosentini, 75), (roberto posada, 75), (rob burton, 74)]",robertson davenport
4413,4428,rodney ho,2,"[(rodney howard browne, 90), (rodney ramcharan, 86), (rodney rohde, 76), (tyrone howard, 64), (robin howe, 63), (rod hochman, 60), (roxane cohen silver, 60), (robin thompson, 60), (arnold hopland, 60), (ebony hilton buchholz, 60), (robert hockett, 60), (saheli roy choudhury, 60), (ron hira, 59), (jennifer horney, 57), (robert hendershott, 57), (mitt romney, 57), (nichola roberston, 57), (tony holohan, 57), (ebony hilton, 57), (ryde hornsby, 57)]",rodney howard browne
4417,4432,rodriguez,1,"[(fernando rodriguez artalejo, 90), (mauricio rodriguez, 90), (segundo rodriguez, 90), (jose javier rodriguez, 90), (rodriguez diaz, 90), (jean paul rodrigue, 85), (tom ridge, 56), (roy fried, 56), (robert siegel, 55), (rieux, 54), (riley, 54), (ron wright, 53), (rod pearce, 53), (robert quigley, 52), (edward r utley, 50), (richard ebright, 50), (rosemarie truglio, 50), (richard v riggs, 50), (roland more, 50), (roderick seamster, 50)]",fernando rodriguez artalejo
4467,4483,ross mcdonald,6,"[(ross macdonald, 96), (rice mcdonald, 77), (eric mcdonald, 77), (glenn rice mcdonald, 72), (donald marks, 68), (david rosser, 61), (mrs ali, 61), (medina, 60), (donald milton, 59), (gary ross, 59), (ronna mcdaniel, 59), (darcy ross, 58), (josh michaud, 56), (rory medcalf, 56), (mary hunter mcdonnell, 56), (bonnie maldonado, 55), (amira roess, 55), (yvonne maldonado, 55), (rob mccoy, 55), (royal s copeland, 55)]",ross macdonald
4498,4514,ryan,1,"[(michael ryan, 90), (michael j ryan, 90), (ryan calo, 90), (ryan saavedra, 90), (ryan stanton, 90), (mike ryan, 90), (ryan demmer, 90), (ryan mcgarry, 90), (fernando rodriguez artalejo, 68), (randy taplitz, 68), (roya ijadi maghsoodi, 68), (gabriel said reynolds, 68), (aruna ravichandran, 68), (raina mcintyre, 68), (elizabeth ransom, 68), (rodney ramcharan, 68), (roy anderson, 68), (randy cron, 68), (frank riedo, 68), (kim reynolds, 68)]",michael j ryan
4507,4523,saad omer,2,"[(saad b omer, 95), (sarah moyer, 70), (said, 68), (edwin salvador, 64), (sara perry, 63), (sanders, 62), (robert salata, 61), (sandra emerson, 61), (ogbonnaya omenka, 60), (meera shah, 60), (sascha meinrath, 60), (richard oberhelman, 60), (andy sumner, 60), (sara rosenbaum, 60), (sarah cm, 59), (sarah t roberts, 58), (safar, 57), (easter swander, 57), (sanjay mehta, 57), (naseem salahuddin, 57)]",saad b omer
4519,4535,said,1,"[(gabriel said reynolds, 90), (saira sheikh, 68), (devi sridhar, 68), (sotiris tsiodras, 68), (david schwartz, 68), (kathryn sandberg, 68), (david spiegelhalter, 68), (annika sridharan, 68), (bernie sanders, 68), (asawin suebsaeng, 68), (david sullivan, 68), (david sherwyn, 68), (megan sandel, 68), (david m smith, 68), (alfa saadu, 68), (altaf saadi, 68), (sarah zaidi, 68), (sanders, 68), (sami angawi, 68), (sandra kane gill, 68)]",gabriel said reynolds
4539,4555,samuel,1,"[(jeremy samuel faust, 90), (samuel greene, 90), (samuel v scarpino, 90), (jeffrey samet, 66), (st paul, 62), (andrew saul, 60), (kathryn smerling, 60), (jamie lloyd smith, 60), (sam lessin, 60), (christiane spitzmueller, 60), (megan sandel, 60), (ignaz semmelweis, 60), (sue elliot, 60), (anthony santella, 60), (saule omarova, 60), (shamez ladhani, 60), (lauren sauer, 60), (saul coronado de leon, 60), (sune lehmann jrgensen, 60), (anne spaulding, 60)]",jeremy samuel faust
4544,4560,sanders,1,"[(bernie sanders, 90), (sarah huckabee sanders, 90), (david sanders, 90), (nada sanders, 90), (katie sanderson, 90), (william sander, 83), (easter swander, 77), (kathryn sandberg, 77), (liz ann sonders, 77), (nicole alexander scott, 77), (stephen anderson, 77), (sander van der linden, 77), (alexander scott, 77), (sandesh gulhane, 77), (scott anderson, 77), (megan sandel, 69), (steffie woolhandler, 69), (david sanger, 69), (sean, 68), (swan, 68)]",sarah huckabee sanders
4562,4578,sara cody,2,"[(sarah cody, 95), (sara moniuszko fauci, 86), (h cody meissner, 86), (sara rosenbaum, 86), (sara goldrick rab, 86), (sarah caddy, 80), (sarah colby, 80), (sarah cm, 71), (sarah moyer, 70), (sarah low, 67), (cody hall, 64), (sara hogan, 63), (sara perry, 63), (sabrina corlette, 60), (sarah zaidi, 60), (sarah huckabee sanders, 60), (sean conley, 60), (isaac chotiner, 60), (cassandra calabrese, 60), (sarah bloom raskin, 60)]",sarah cody
4582,4598,sarah park,2,"[(sarah parkinson, 90), (sarah reagan steiner, 86), (sarah swindells, 86), (sarah bloom raskin, 86), (sarah van orman, 86), (sarah huckabee sanders, 86), (sarah kilpatrick, 86), (sarah t roberts, 86), (sarah cm, 73), (sahil parikh, 73), (sarah aitken, 73), (sarah hawkes, 73), (rajesh parikh, 70), (sara perry, 70), (sarah maza, 70), (sarah zaidi, 67), (sarah moyer, 67), (sarah caddy, 67), (samara klar, 67), (sarah low, 67)]",sarah parkinson
4596,4612,saskia popescu,2,"[(saskia v popescu, 95), (pence, 54), (silviu itescu, 52), (sabrina sykes, 52), (sanjukta paul, 52), (susan hopkins, 52), (sebastian condrea, 52), (saad omer, 52), (gu su, 51), (joshua santarpia, 50), (maria pena, 50), (sara cody, 50), (tia powell, 50), (richard portes, 50), (tikki pangestu, 50), (sara perry, 50), (sarah low, 50), (sara rosenbaum, 50), (sanofi pasteur, 50), (elissa perkins, 50)]",saskia v popescu
4602,4618,saynor,1,"[(bob saynor, 90), (catriona saynor, 90), (mauricio santoro, 75), (khari sanford, 75), (lisa santora, 75), (chad sanborn, 75), (sean, 68), (swan, 68), (masaaki sano, 66), (sanders, 62), (connie savor price, 62), (swanton, 62), (taylor swift, 60), (joshua santarpia, 60), (susan ray, 60), (sean safford, 60), (susan crossland, 60), (soir, 60), (bernie sanders, 60), (shannon gibson, 60)]",catriona saynor
4603,4619,schaffner,1,"[(william schaffner, 90), (donald schaffner, 90), (willam schaffner, 90), (jeremy schefers, 64), (robert schlager, 64), (lewis schrager, 64), (sanders, 62), (leonard schleifer, 60), (walter schachermayer, 60), (daniel schnieder, 60), (edward schneider, 60), (daniel schneider, 60), (david scheinker, 60), (neil schachter, 60), (schulman, 59), (safar, 57), (shane oliver, 57), (suchi pandey, 57), (shuhan he, 56), (sam crane, 56)]",william schaffner
4617,4633,scott kelley,2,"[(scott pelley, 92), (adam kamradt scott, 86), (nicole alexander scott, 86), (scott hensley, 80), (scott allen, 78), (janelle scott, 76), (scott rivkees, 72), (kelly, 72), (kelley lee, 71), (scott segal, 70), (scott galloway, 69), (alex scott, 69), (hal scott, 67), (scott weaver, 67), (scott fauble, 67), (scott weavil, 67), (scott fullwiler, 67), (chip kelly, 64), (scott mckeown, 64), (rick scott, 64)]",scott pelley
4625,4641,scott pelley,6,"[(scott kelley, 92), (nicole alexander scott, 86), (adam kamradt scott, 86), (scott hensley, 80), (scott allen, 78), (janelle scott, 76), (scott pace, 73), (scott segal, 70), (scott galloway, 69), (alex scott, 69), (scott weaver, 67), (scott weavil, 67), (hal scott, 67), (scott fullwiler, 67), (scott fauble, 67), (scott rein, 64), (scott rivkees, 64), (elizabeth scott, 64), (scott steiner, 64), (rick scott, 64)]",scott kelley
4635,4651,sean,1,"[(sean dempsey, 90), (sean safford, 90), (sean truman, 90), (sean cook, 90), (r sean morrison, 90), (sean p conley, 90), (sean hannity, 90), (sean o leary, 90), (sean conley, 90), (sean asiquq topkok, 90), (sean leng, 90), (hun sen, 77), (sens, 75), (swan, 75), (easter swander, 68), (kevan shokat, 68), (timothy stenzel, 68), (shengjie lai, 68), (joshua santarpia, 68), (kathryn seawant, 68)]",sean asiquq topkok
4637,4653,sean conley,2,"[(sean p conley, 95), (sean, 90), (sean asiquq topkok, 86), (sean o leary, 78), (coles, 72), (daron cowley, 70), (sean cook, 70), (sean leng, 70), (swan, 68), (sens, 68), (steve cole, 67), (jean cohen, 67), (sebastian condrea, 64), (sarah colby, 64), (stephen schondelmeyer, 62), (stephen colbert, 62), (stefano magnone, 62), (sean hannity, 61), (megan coffee, 61), (susan turney, 61)]",sean p conley
4711,4727,siegel,1,"[(jeremy siegel, 90), (michael siegel, 90), (robert siegel, 90), (marc siegel, 90), (marc k siegel, 90), (robert david siegel, 90), (david spiegelhalter, 75), (david spiegel, 75), (brennan spiegel, 75), (paul spiegel, 75), (mervyn singer, 60), (sophie gregoire trudeau, 60), (sergei skripal, 60), (jill schlesinger, 60), (ignaz semmelweis, 60), (nigel stapledon, 60), (benjamin singer, 60), (sue elliot, 60), (hiroshige seko, 60), (nandi siegfried, 60)]",robert david siegel
4725,4741,singh,1,"[(adarsh pratap singh, 90), (shubhra singh, 90), (jayant singh, 90), (sonia singh, 90), (harmandeep singh, 90), (jag singh, 90), (suwannachai wattanayingcharoen, 72), (mervyn singer, 72), (jill schlesinger, 72), (benjamin singer, 72), (rajita sinha, 72), (sunit singla, 72), (samir sinha, 72), (ben singer, 72), (kathryn smerling, 60), (john sprankling, 60), (anne spaulding, 60), (shi muying, 60), (steve tsang, 60), (gary shilling, 60)]",adarsh pratap singh
4740,4757,sonia angell,2,"[(sonia y angell, 95), (sonia singh, 70), (soir, 68), (jim angel, 67), (angelo virgona, 66), (angelo giupponi, 64), (sandra kane gill, 64), (allison aiello, 62), (lisa anderson, 61), (james angel, 61), (angela rippon, 61), (angie bone, 61), (janelle scott, 61), (anita allen, 61), (ala, 60), (angela cornell, 59), (sunit singla, 58), (sonia giusto, 58), (anthony santella, 57), (sam crane, 57)]",sonia y angell
4766,4783,stathis giotis,2,"[(efstathios giotis, 90), (susanne straif bourgeois, 61), (scott gottlieb, 57), (tista ghosh, 56), (samantha gaines, 55), (jonathan giftos, 55), (josiah solis, 54), (brett giroir, 54), (steph, 54), (sotiris tsiodras, 53), (stefano fagiuoli, 53), (stephanie grisham, 52), (sterghios moschos, 52), (sarai eitches, 52), (shanthi kappagoda, 52), (travis gayles, 52), (stephen powis, 52), (stacia martin west, 50), (itay goldstein, 50), (sachin nagrani, 50)]",efstathios giotis
4785,4802,steph,1,"[(joshua stephany, 90), (stephen ferguson, 90), (stephen felt, 90), (stephen i vladeck, 90), (stephen goldsmith, 90), (stephen m hahn, 90), (stephen hoption cann, 90), (stephen schondelmeyer, 90), (mary stephen, 90), (stephanie grisham, 90), (stephen gluckman, 90), (stephen colbert, 90), (stephen thomas, 90), (stephen burks, 90), (george stephanopoulos, 90), (stephen smith, 90), (steph curry, 90), (stephen powis, 90), (stephen hoge, 90), (j stephen jones, 90)]",steph curry
4786,4803,steph curry,2,"[(stephen curry, 92), (steph, 90), (stephen luby, 70), (stephen burks, 67), (stephen c morris, 67), (stephen guy bray, 67), (mary stephen, 66), (kathryn stephenson, 62), (stephen colbert, 62), (christopher murray, 62), (stephen shay, 61), (stephen redd, 61), (stephen schondelmeyer, 58), (stephen moore, 58), (stephen morse, 58), (j stephen morrison, 58), (stephen yale loehr, 58), (stephen farnsworth, 58), (stephen baker, 58), (stephen lynch, 58)]",stephen curry
4787,4804,stephan hahn,2,"[(stephen hahn, 92), (hahn, 90), (han, 90), (steph, 90), (stephen m hahn, 85), (steven hahn, 78), (stephanie hall, 77), (stephen shay, 75), (stefan hanson, 72), (stephen wantz, 72), (joshua stephany, 70), (stephanie grisham, 69), (stephen thomas, 69), (stephanie nebehay, 69), (stephen farnsworth, 68), (stephanie cacioppo, 68), (sean hannity, 67), (shabana khan, 67), (stephen hess, 67), (stephen hoge, 67)]",stephen hahn
4808,4825,stephen hahn,2,"[(stephen m hahn, 95), (stephan hahn, 92), (hahn, 90), (steph, 90), (steven hahn, 87), (stephen schondelmeyer, 86), (stephen hoption cann, 86), (j stephen morrison, 86), (stephen yale loehr, 86), (stephen farnsworth, 86), (stephen shay, 83), (stephen wantz, 80), (stephen thomas, 77), (stephen hess, 75), (stephen hoge, 75), (andrew stephen, 73), (stephen avila, 72), (stephen smith, 72), (stephen baker, 72), (stephen lynch, 72)]",stephen m hahn
4818,4835,stephen moore,2,"[(stephen morse, 92), (steph, 90), (stephen schondelmeyer, 86), (stephen hoption cann, 86), (christopher oldstone moore, 86), (stephen s morse, 86), (stephen hoge, 80), (stephen redd, 80), (mary stephen, 76), (stephen c morris, 76), (bret stephens, 73), (stephen felt, 72), (stephen hess, 72), (steve monroe, 72), (j stephen jones, 71), (stephen colbert, 71), (j stephen morrison, 71), (stephen hahn, 70), (andrew stephen, 70), (stephen shay, 70)]",stephen morse
4819,4836,stephen morse,2,"[(stephen s morse, 95), (stephen moore, 92), (steph, 90), (stephen schondelmeyer, 86), (stephen hoption cann, 86), (stephen c morris, 83), (stephen hoge, 80), (stephen redd, 80), (stephen burks, 77), (j stephen morrison, 77), (stephen powis, 77), (mary stephen, 76), (stephen thomas, 74), (bret stephens, 73), (stephen felt, 72), (stephen hess, 72), (stephen shay, 72), (steve monroe, 72), (j stephen jones, 71), (stephen colbert, 71)]",stephen s morse
4847,4864,steve miller,2,"[(steven miller, 96), (miller, 90), (hajira dambha miller, 86), (steven miles, 83), (steven, 78), (steve adler, 78), (muller, 75), (steven riley, 75), (peter miller, 75), (steve cole, 73), (steve peers, 70), (joel miller, 70), (steve motew, 70), (steven gambert, 69), (steven wallace, 69), (loren miller, 67), (steve taylor, 67), (steve schale, 67), (steve monroe, 67), (steven zeichner, 67)]",steven miller
4848,4865,steve mnuchin,2,"[(steven t mnuchin, 90), (mnuchin, 90), (steven, 78), (steve mclaughlin, 76), (steven choi, 75), (steven van gucht, 69), (steven corwin, 69), (steven kitchen, 67), (steve schow, 67), (steven hahn, 67), (sten vermund, 64), (steve cole, 64), (steve nelson, 64), (steve bannon, 64), (steve miller, 64), (steve parnis, 64), (steve schale, 64), (steve monroe, 64), (steven zeichner, 64), (steven miles, 64)]",steven t mnuchin
4851,4868,steve nelson,2,"[(steven nelson, 96), (william nelson cromwell, 86), (steven, 78), (steve bannon, 75), (steve keen, 73), (stephen anderson, 71), (steve walsh, 70), (steve peers, 70), (steve tsang, 70), (steve schow, 70), (steven l thomason, 69), (mary stevenson, 69), (simon stevens, 68), (i nelson rose, 68), (steve monroe, 67), (steve taylor, 67), (steven miles, 67), (steve parnis, 67), (robyn nelson, 64), (stephen ferguson, 64)]",steven nelson
4859,4876,steve taylor,2,"[(steven taylor, 96), (steve adler, 78), (steven, 75), (taylor swift, 71), (steve walsh, 70), (steve tsang, 70), (el tayar, 68), (steve schale, 67), (steve monroe, 67), (steven stack, 67), (chloe taylor, 67), (rosemary taylor, 67), (steve bannon, 67), (steve miller, 67), (steve nelson, 67), (steve arthur, 67), (john taylor, 67), (steven thrasher, 67), (steve parnis, 67), (steven nelson, 64)]",steven taylor
4865,4882,steven,1,"[(steven nelson, 90), (steven keith platt, 90), (simon stevens, 90), (steven b abramson, 90), (steven t mnuchin, 90), (steven riley, 90), (steven goodman, 90), (steven van gucht, 90), (steven kitchen, 90), (steven zeichner, 90), (steven choi, 90), (steven brower, 90), (steven stack, 90), (steven miller, 90), (steven lawrence, 90), (steven van de vijver, 90), (robert stevens, 90), (steven l thomason, 90), (steven m opal, 90), (steven wallace, 90)]",steven van de vijver
4904,4922,sturgeon,1,"[(ms sturgeon, 95), (nicola sturgeon, 90), (stuart weston, 67), (martin sturmer, 60), (stuart lewena, 57), (steven, 57), (sung won sohn, 56), (susanne straif bourgeois, 56), (scott rein, 56), (oliver stuenkel, 56), (sterghios moschos, 56), (stuart neil, 53), (swanton, 53), (tompkins stange, 51), (stephen ferguson, 50), (susan turney, 50), (sean, 50), (steve monroe, 50), (sens, 50), (steve bannon, 50)]",ms sturgeon
4915,4933,sullivan,1,"[(david sullivan, 90), (jennifer sullivan, 90), (schulman, 62), (peter shulman, 60), (jeffrey shulman, 60), (david shulkin, 60), (edsel salvana, 57), (sujit vakkalanka, 56), (rebecca seligman, 56), (sultan salimee, 56), (gillian schmitz, 56), (silvana agatone, 56), (sue elliot, 56), (silva bino, 56), (anne spaulding, 56), (richard sylla, 56), (staffan sylvan, 56), (gary shilling, 56), (susan kline, 53), (julie swann, 53)]",jennifer sullivan
4955,4973,swan,1,"[(easter swander, 90), (charlie swanton, 90), (charles swanton, 90), (norman swan, 90), (julie swann, 90), (swanton, 90), (sean, 75), (suwannachai wattanayingcharoen, 68), (sean dempsey, 68), (joshua santarpia, 68), (kathryn seawant, 68), (susan ray, 68), (susan turney, 68), (sanjay maggirwar, 68), (kathryn sandberg, 68), (sanjay mehta, 68), (rogelio saenz, 68), (hwang seung sik, 68), (sean safford, 68), (susan crossland, 68)]",norman swan

In [80]:
df[df['possible_candidate'] != 'SELF'].head(135)

,orig_index,raw_name,num_words,top20_candidates_with_score,possible_candidate
14,14,abbott,1,"[(sabra m abbott, 90), (april abbott, 90), (greg abbott, 90), (abbott labs, 90), (andrea gambotto, 75), (lilian abbo, 72), (abe, 60), (bowale abimbola, 60), (alex scott, 50), (ann arbor, 50), (arabia mollette, 48), (asaf bitton, 47), (aaron glatt, 47), (ann bostrom, 47), (andrew rambaut, 45), (jenny abthorpe, 45), (atul malhotra, 45), (ai, 45), (jim acosta, 45), (andrew potter, 45)]",sabra m abbott
19,19,abdullah abdullah,2,"[(noor hisham abdullah, 95), (abdul el sayed, 61), (abe, 60), (ala, 60), (nadia abuelezam, 56), (adam douglas, 55), (rami abdulrahman, 55), (alfa saadu, 54), (sayed attaullah sayedzai, 54), (alan campbell, 53), (amadou alpha sall, 53), (abdul mabud chowdhury, 53), (adam blake, 52), (abelardo avila, 52), (aliyah cardoza, 52), (alfa sa, 51), (lilian abbo, 50), (danny avula, 50), (bruce a elleman, 49), (kathie allen, 48)]",noor hisham abdullah
20,20,abe,1,"[(abelardo avila, 90), (shinzo abe, 90), (isabelle amigues, 90), (rabi abeyasinghe, 86), (allison chamberlain, 60), (david a nace, 60), (jenny abthorpe, 60), (naji abumrad, 60), (adam bernheim, 60), (abigail carlson, 60), (alexander l greninger, 60), (sue anne bell, 60), (florence ader, 60), (henry albrecht, 60), (robert atmar, 60), (fawziya abikar, 60), (abhijit duggal, 60), (alex brandonap, 60), (jane ruth aceng, 60), (anna goldfarb, 60)]",shinzo abe
26,26,abraham,1,"[(jonathan abraham, 90), (abraham l newman, 90), (jonatas abrahao, 77), (adam, 68), (allison brashear, 64), (sabra m abbott, 64), (steven b abramson, 64), (marina abramovic, 64), (david clara amit, 64), (abraar karan, 64), (andrea graham, 64), (david abramson, 64), (mohamed ali ibrahim, 64), (sarah aitken, 64), (jonathan abramowitz, 64), (josh archambault, 64), (abe, 60), (amy, 60), (azra ghani, 59), (adhanom, 57)]",jonathan abraham
28,28,adam,1,"[(adam bernheim, 90), (adam levitin, 90), (diana adama, 90), (adam j levitin, 90), (adam wolanski, 90), (adam blake, 90), (adam kucharski, 90), (adam schiff, 90), (adam marshall, 90), (adam rubinstein, 90), (jerome adams, 90), (beverley adams groom, 90), (adam jarrett, 90), (adam douglas, 90), (adam collins, 90), (adam schefter, 90), (adam rosh, 90), (adams dudley, 90), (adam finn, 90), (jerome m adams, 90)]",adam rubinstein
...,...,...,...,...,...
1512,1516,erik wilke,2,"[(eric wilke, 90), (knut erik hovda, 86), (erika lee, 74), (william cherniak, 68), (eric wei, 67), (patrick walker, 67), (henry walke, 67), (kerri wizner, 64), (keith willett, 61), (nick white, 60), (eric blank, 60), (william petri, 58), (kristen welker, 58), (mark wilson, 57), (nick wilson, 57), (peter white, 57), (eric talley, 57), (rita wilson, 57), (warwick knowles, 56), (erin staples, 55)]",eric wilke
1546,1551,exekiel emanuel,2,"[(ezekiel emanuel, 93), (emanuel, 90), (zeke emanuel, 81), (rahm emanuel, 70), (elaine kinsella, 57), (eike steinmann, 55), (jan emmanuel de neve, 54), (kelly evans, 54), (emil verner, 54), (emily benfer, 52), (eli fenichel, 52), (ernie guzman, 52), (elon musk, 50), (eva larue, 50), (elaine ganley, 50), (emmanuel macron, 50), (jeffrey engel, 50), (emmanuel andre, 48), (osagie ehanire, 48), (eugene tan, 48)]",ezekiel emanuel
1548,1553,ezekiel emanuel,2,"[(exekiel emanuel, 93), (emanuel, 90), (zeke emanuel, 89), (rahm emanuel, 70), (elaine kinsella, 57), (eike steinmann, 55), (jan emmanuel de neve, 54), (kelly evans, 54), (emil verner, 54), (emily benfer, 52), (eli fenichel, 52), (ernie guzman, 52), (elon musk, 50), (eva larue, 50), (elaine ganley, 50), (emmanuel macron, 50), (jeffrey engel, 50), (emmanuel andre, 48), (osagie ehanire, 48), (eugene tan, 48)]",exekiel emanuel
1567,1572,feigl ding,2,"[(eric feigl ding, 90), (jonathan fielding, 63), (michael dowling, 63), (don, 60), (tinglong dai, 55), (zhang dingyu, 55), (jake dunning, 55), (neil fishman, 55), (brice de le vingne, 54), (michael donnino, 54), (daniel fein, 54), (robert dingwall, 54), (jih fei cheng, 52), (eli fenichel, 52), (richard fording, 51), (rafael felix espinoza, 51), (elaine shuo feng, 51), (benjamin f miller, 51), (zuo feng zhang, 50), (dario gil, 50)]",eric feigl ding
1573,1578,ferguson,1,"[(stephen ferguson, 90), (prof ferguson, 90), (drew ferguson, 90), (neil m ferguson, 90), (fermin leguen, 57), (jonathan fulkerson, 56), (fengyong liu, 56), (fernando simon, 55), (fred hutchinson, 52), (freeborn, 50), (tsion firew, 50), (fred armisen, 50), (frank snowden, 48), (fran unsworth, 48), (frank ong, 47), (marty fentersheib, 45), (fernando rodriguez artalejo, 45), (christopher fagundes, 45), (christopher foran, 45), (magnus fiskesjo, 45)]",stephen ferguson

# SANDBOX

In [ ]:
choices = ["tedros", "tedros adhanom ghebreyesus", "homer", "tedros ghebreyesus", "tedros ahanom ghebreyesus", "talia", "tidres"]
process.extract("tedros", choices, limit=20)

In [ ]:
choices = ["ai fen", "aileen marty", "alaa swilam dubai", "al gore", "alain gauthier", "tidres"]
process.extract("ai", choices, limit=5)

### How names start with each letter?

In [ ]:
Counter(s[0] for s in df.Name.tolist())

In [ ]:
all_names = []
for idx, name in df['raw_name'].iteritems():
    for s in name.split():
        all_names.append(s)

In [ ]:
dict_count.most_common()